.contacts {
  padding: 6rem 0;

  &__title {
    margin-bottom: 2rem;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  &__address {
    padding: 2rem;
    background-color: #fff;
    box-shadow: 4px 4px 16px 0 rgba(99, 99, 99, 0.48);
    &--main {
      grid-column: 2 span;
    }
  }
}
