[data-aos="line-anim"].aos-animate {
  &::after {
    width: 100%;
  }
}
[data-aos="show-fig"].aos-animate {
  .avoid-item__fig {
    transition-delay: inherit;
    transition-duration: inherit;
    span {
      transform: translateY(0);
      transition-delay: inherit;
      transition-duration: inherit;
    }
  }
}
[data-aos="slides-lvl"].aos-animate {
  .optima__slide {
    &--1 {
      .optima__slide-line::after {
        transform: translateX(-40%) translateY(-13.4rem);
      }
    }
    &--2 {
      .optima__slide-line::after {
        transform: translateX(-40%) translateY(-15rem);
      }
    }
    &--3 {
      .optima__slide-line::after {
        transform: translateX(-40%) translateY(-5.2rem);
      }
    }
    &--4 {
      .optima__slide-line::after {
        transform: translateX(-40%) translateY(-19.7rem);
      }
    }
    &--5 {
      .optima__slide-line::after {
        transform: translateX(-40%) translateY(-8.7rem);
      }
    }
    &--6 {
      .optima__slide-line::after {
        transform: translateX(-40%) translateY(-19.2rem);
      }
    }
    &--7 {
      .optima__slide-line::after {
        transform: translateX(-40%) translateY(-12.2rem);
      }
    }
  }
}
