.find {
  padding: 0rem 0rem 4rem;
  background-color: #1d1b1a;
  @include mobile {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  &__title {
    margin-bottom: 5rem;
    span {
      transform: rotate(-3deg) translateY(1.2rem);
      @include mobile {
        display: block;
        line-height: 0;
        transform: rotate(-3deg) translateY(0.4rem);
      }
    }

    @include mobile {
      text-align: center;
      margin-bottom: 3rem;
    }
  }
}

.find-item {
  background-color: #fff;
  width: 23rem;
  height: auto;
  @include mobile {
    width: 17.2rem;
  }
  &__img {
    height: 17rem;
    @include mobile {
      height: 12rem;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    padding: 1rem;

    @include mobile {
      padding: 0.9rem 0.7rem;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 0.2rem;

    font-weight: 500;
    font-size: 1.4rem;
    line-height: 100%;
    color: #1d1b1a;

    @include mobile {
      font-size: 1rem;
      margin-bottom: 0.15rem;
    }
  }
  &__slider {
    .swiper-wrapper {
      transition-timing-function: linear !important;
    }
  }
  &__desc {
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    line-height: 120%;
    color: rgba(29, 27, 26, 0.8);
    @include mobile {
      font-size: 0.7rem;
    }
  }
}

.find-cta {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  &__link {
    display: block;
    width: 8.4rem;
    aspect-ratio: 1 / 1;
    @include tablet {
      width: 6rem;
    }
    @include mobile {
      width: 5rem;
    }
    svg {
      width: 100%;
      height: 100%;
      fill: #f5f5f5;
    }
  }

  &__title {
    letter-spacing: -0.01em;
    text-align: center;
    color: rgba(245, 245, 245, 0.8);
    max-width: 70rem;
    @include tablet {
      font-size: 2.4rem;
    }
    @include mobile {
      font-size: 2rem;
    }
    a {
      color: #b56d25;
      text-decoration: underline;
    }
  }
}
