.form {
  &__row {
    display: flex;

    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(245, 245, 245, 0.2);
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 1;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 130%;
    color: #f5f5f5;

    input:checked ~ .form__check::before {
      opacity: 1;
    }

    @include mobile {
      font-size: 1.2rem;
    }
  }
  &__field {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 1.2rem;
    }

    &--filled {
      .form__label {
        top: 0.3rem;
        transform: translateY(0);
        font-size: 1rem;
      }
    }
  }
  &__check {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 2rem;
    aspect-ratio: 1 / 1;
    border: 1px solid rgba(245, 245, 245, 0.8);

    &::before {
      content: "";
      display: block;
      width: 50%;
      aspect-ratio: 1 / 1;
      background-image: url("./../img/zay/check.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      opacity: 0;
    }
  }

  &__capture {
    display: block;
    margin: 0;
    margin-bottom: 1rem;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 130%;
    color: #f5f5f5;
  }

  &__input {
    display: block;
    width: 100%;
    border: 1px solid rgba(245, 245, 245, 0.2);
    padding: 0.5rem 1.2rem;
    height: 3.5rem;

    font-family: var(--second-family);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 130%;
    color: #f5f5f5;
    background: none;

    @include mobile {
      font-size: 1.2rem;
    }
    &:focus {
      outline: none;

      & ~ .form__label {
        top: 0.3rem;
        transform: translateY(0);
        font-size: 1rem;
      }
    }
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 1.2rem;
    transform: translateY(-50%);
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 130%;
    color: #f5f5f5;
    transition: 0.3s ease-in;

    @include mobile {
      font-size: 1.2rem;
    }
  }

  &__btn {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    padding: 1rem;
    @include mobile {
      font-size: 1.2rem;
    }
  }

  &__agree {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 1rem;
    line-height: 130%;
    color: #717171;

    @include mobile {
      font-size: 0.8rem;
    }
    a {
      color: inherit;
      text-decoration: underline;
    }

    .form__check {
      width: 2rem;
      border-color: rgba(245, 245, 245, 0.2);

      &::before {
        background-image: url("./../img/zay/check-grey.svg");
      }
    }
  }

  &--dark {
    .form__check,
    .form__input {
      border-color: #312f2d;
    }
    .form__label,
    .form__agree,
    .form__input,
    .form__capture,
    .form__item {
      color: #312f2d;
    }
    .form__check {
      &::before {
        background-image: url("./../img/check-black.svg");
      }
    }
  }
}
