.map {
  padding: 6rem 0;
  @include mobile {
    padding: 3rem 0;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    @include tablet {
      flex-direction: column;
      align-items: stretch;
      gap: 2rem;
    }
  }

  &__map {
    flex-shrink: 0;
    width: 56rem;
    height: 40rem;
    background-color: #ccc;
    @include tablet {
      width: 100%;
    }
    @include mobile {
      height: 22rem;
    }
  }

  &__content {
    flex-grow: 1;
  }
}
