.map {
  padding: 6rem 0;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
  }

  &__map {
    flex-shrink: 0;
    width: 56rem;
    height: 40rem;
    background-color: #ccc;
  }

  &__content {
    flex-grow: 1;
  }
}
