.optima {
  padding-top: 0.7rem;
  padding-bottom: 7rem;
  background-color: #1d1b1a;

  &__title {
    margin-bottom: 4.8rem;
    max-width: 82rem;
    span {
      transform: rotate(-1.6deg) translateY(0.2rem);
    }
  }
  &__container {
    display: flex;
    align-items: center;
    gap: 2rem;

    margin-bottom: 6rem;

    @include tablet {
      flex-direction: column;
      align-items: stretch;
      gap: 3rem;
    }
  }

  &__left {
    width: 100%;
    max-width: 39rem;
    flex-shrink: 0;
    @include tablet {
      max-width: 100%;
    }
  }

  &__desc {
    p {
      margin: 0;
      &:not(:last-child) {
        margin-bottom: 1.6rem;
      }
    }
  }

  &__right {
    flex-grow: 1;
    position: relative;
  }
  &__levels {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);

    @include tablet {
      width: auto;
      left: calc(-1 * var(--container-offset));
      right: calc(-1 * var(--container-offset));
    }
    @include mobile {
      top: unset;
      transform: unset;
      bottom: 2rem;
    }
  }

  &__lvl {
    font-weight: 400;
    font-size: 1rem;
    line-height: 110%;
    letter-spacing: -0.01em;
    color: rgba(245, 245, 245, 0.9);
    text-align: center;

    @include tablet {
      font-size: 0.8rem;
    }
    @include mobile {
      font-size: 0.5rem;
    }
    &--premium {
      padding-top: 4rem;
      padding-bottom: 3rem;
      border-top: 1px dashed rgba(181, 109, 37, 0.5);
      @include mobile {
        padding-top: 2.4rem;
        padding-bottom: 1.6rem;
      }
    }
    &--optimal {
      padding-top: 3rem;
      padding-bottom: 3rem;
      border-top: 1px dashed rgba(181, 109, 37, 0.5);

      @include mobile {
        padding-top: 1.9rem;
        padding-bottom: 1.9rem;
      }
    }
    &--wrong {
      padding-top: 2rem;
      color: rgba(255, 0, 0, 0.9);
      border-top: 1px dashed rgba(255, 0, 0, 0.5);
      @include mobile {
        padding-top: 1.1rem;
      }
    }
  }
  &__slides {
    display: flex;
  }
  &__slide {
    padding-top: 28rem;
    flex: 1;
    font-weight: 400;
    font-size: 1rem;
    line-height: 110%;
    letter-spacing: -0.01em;
    text-align: center;
    color: rgba(245, 245, 245, 0.8);
    position: relative;
    transition-duration: inherit;

    @include tablet {
      padding-top: 0;
      padding-bottom: 24rem;
    }
    @include mobile {
      padding-bottom: 15rem;
    }
    &-line {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 27rem;
      width: 0.4rem;
      background-color: rgba(245, 245, 245, 0.3);

      @include tablet {
        height: 24rem;
        top: unset;
        bottom: 0;
      }
      @include mobile {
        height: 15rem;
      }
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-40%);
        width: 1.6rem;
        height: 2.5rem;
        box-shadow: 0 2px 6px 5px rgba(0, 0, 0, 0.51);
        background: linear-gradient(
          180deg,
          #fff 0%,
          #b1b1b1 17%,
          #fff 66%,
          #e5e5e5 79.5%,
          #aaa 100%
        );
        border: 0.5px solid #c0c0c0;
        border-radius: 2px;
        transition: transform;
        transition-duration: 3s;

        @include tablet {
          width: 1.2rem;
          height: 2rem;
        }
        @include mobile {
          width: 0.8rem;
          height: 1.3rem;
        }
      }
    }
  }

  &__items {
    display: flex;
    border-top: 1px solid rgba(245, 245, 245, 0.2);
  }

  &__item {
    flex: 1;
    padding-right: 2rem;
  }

  &__text {
    max-width: 16rem;
    span {
      display: block;
    }
  }

  &__slider {
    padding-top: 1.7rem;
  }
  &__capture {
    margin-bottom: 1.5rem;
    @include tablet {
      font-size: 1rem;
    }
    @include mobile {
      font-size: 0.6rem;
      margin-bottom: 1rem;
    }
  }

  &__icon {
    width: 2.8rem;
    aspect-ratio: 1 / 1;
    border: 1px solid rgba(245, 245, 245, 0.2);
    border-radius: 100%;
    background-color: #161616;
    padding: 0.6rem;
    transform: translateY(-50%);
    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: rgba(245, 245, 245, 0.3);
    }
  }
}
