.portfolio {
  padding-top: 4rem;
  padding-bottom: 5rem;
  background-color: #1d1b1a;
  @include mobile {
    padding-top: 3rem;
    padding-bottom: 4rem;
  }
  &__title {
    margin-bottom: 2.2rem;

    @include tablet {
      text-align: center;
      margin-bottom: 1.4rem;
    }
    @include mobile {
      margin-bottom: 1.2rem;
    }
  }
  &__subtitle {
    margin: 0;
    margin-bottom: 3.5rem;
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: #f5f5f5;

    @include tablet {
      font-size: 1.6rem;
      text-align: center;
    }
    @include mobile {
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }
  }

  &__container {
    max-width: calc(115.8rem + var(--container-offset) * 2);
    padding: 0 var(--container-offset);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;

    @include tablet {
      display: flex;
      flex-direction: column;
    }

    .portfolio__item {
      transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

      &[style*="display: none"] {
        opacity: 0;
        transform: translateY(20px);
      }

      &[style*="display: block"] {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  &__mob {
    display: none;
    padding: 0 var(--container-offset);
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include tablet {
      display: flex;
    }
  }
  &__more,
  &__hide {
    width: 100%;
    display: block;
    padding: 1.4rem;
    font-size: 1.4rem;
    margin: 0 auto;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__hide {
    color: #fff;
    border-color: #fff;
    background-color: #1d1b1a;
  }

  &__more {
    &.is-hidden {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.portfolio-item {
  grid-column: 6 span;
  border: 1px solid rgba(245, 245, 245, 0.2);
  cursor: pointer;
  display: flex;
  flex-direction: column;

  max-height: 52rem;
  @include tablet {
    cursor: default;
  }
  @include hover {
    .portfolio-item__img img {
      transform: scale(1.05);
    }
  }

  &__mob {
    display: none;
    @media (max-width: 600px) {
      display: block;
    }
  }
  &__img {
    flex-grow: 1;
    overflow: hidden;
    @include tablet {
      height: 30rem !important;
    }
    @include mobile {
      height: 21rem !important;
    }
    img {
      display: block;
      height: 100%;
      width: 100%;
      object-position: bottom;

      transition: transform 1s ease-in-out;
    }

    &--pc {
      @media (max-width: 600px) {
        display: none;
      }
    }
  }

  &__info {
    padding: 1rem 0.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;

    @include tablet {
      padding: 1.5rem 1rem;
    }
  }

  &__title {
    margin: 0;

    font-weight: 500;
    font-size: 1.8rem;
    line-height: 100%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #f5f5f5;

    @include tablet {
      font-size: 1.6rem;
    }
    @include mobile {
      font-size: 1.4rem;
    }

    span {
      text-transform: lowercase;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 100%;
      letter-spacing: -0.01em;
      color: rgba(245, 245, 245, 0.5);
      &::before {
        content: "/ ";
      }
    }
  }
  &__btn {
    width: 1.4rem;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    svg {
      display: block;
      width: 100%;
      height: 100%;
    }
    @include mobile {
      display: none;
    }
  }
  &:nth-child(10n + 1) {
    grid-row: 2 span;
  }
  &:nth-child(10n + 2) {
    .portfolio-item {
      &__img {
        height: 21.4rem;
      }
    }
  }
  &:nth-child(10n + 3),
  &:nth-child(10n + 4) {
    grid-column: 3 span;
    .portfolio-item {
      &__img {
        height: 18.6rem;
      }
    }
  }
  &:nth-child(10n + 5),
  &:nth-child(10n + 6) {
    grid-column: 6 span;
    .portfolio-item {
      &__img {
        height: 25.5rem;
      }
    }
  }

  &:nth-child(10n + 7) {
    .portfolio-item {
      &__img {
        height: 21.4rem;
      }
    }
  }

  &:nth-child(10n + 8) {
    grid-row: 2 span;
  }
  &:nth-child(10n + 9),
  &:nth-child(10n + 10) {
    grid-column: 3 span;
    .portfolio-item {
      &__img {
        height: 18.6rem;
      }
    }
  }
}

@media (max-width: 900px) {
  .portfolio {
    &__container {
      .portfolio__item {
        display: none;

        &:nth-child(-n + 3) {
          display: block;
        }
      }

      &.show-all {
        .portfolio__item {
          display: block;
        }
      }
    }

    &__mob {
      display: block;
      margin-top: 30px;
      text-align: center;
    }
  }
}

@media (min-width: 901px) {
  .portfolio {
    &__mob {
      display: none;
    }
  }
}
