.proj {
  padding: 0rem 0 4rem;
  @include mobile {
    padding: 2rem 0 1rem;
  }
  .container {
    @include mobile {
      display: flex;
      flex-direction: column;
    }
  }
  &__title {
    margin-bottom: 4rem;
    @include mobile {
      text-align: center;
      white-space: nowrap;
      order: -2;
      margin-bottom: 3rem;
    }
    div {
      display: inline;
      @include mobile {
        margin: 0 auto;
      }
    }
    span {
      transform: translateY(1.8rem);
      line-height: 79%;
      letter-spacing: -0.01em;
      color: #b56d25;

      @include mobile {
        transform: translateY(0.2rem) rotate(-2deg);
      }
    }
  }
  &__wrapper {
    max-width: calc(120rem + var(--container-offset) * 2);
    padding: 0 var(--container-offset);
    margin: 0 auto;
  }
  &__slider {
    margin-bottom: 3.6rem;
    @include mobile {
      margin: 0;
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    color: rgba(29, 27, 26, 0.7);
    line-height: 1.2;
    text-align: right;
    @include mobile {
      font-size: 0.8rem;
      text-align: center;
      order: -1;
      margin-bottom: 3rem;
      margin-top: 2rem;
    }

    &::before {
      content: "";
      display: block;
      width: 3rem;
      aspect-ratio: 1 / 1;
      flex-shrink: 0;
      background-image: url("./../img/slider.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      animation: slider 4s ease-in-out infinite;
      @include mobile {
        width: 2rem;
      }
    }
  }
}

@keyframes slider {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(-1rem);
  }
  35% {
    transform: translateX(1rem);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}
