.text-vertical {
  padding: 6rem 0;
  background-color: #fff;
  overflow: hidden;
  @include mobile {
    padding: 3rem 0;
  }
  & > .container {
    height: 100%;
  }
  &__container {
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 100%;

    &--reverse {
      .text-vertical__content {
        order: 10;
      }
    }
    @include small-tablet {
      flex-direction: column-reverse;
      align-items: stretch;
      gap: 0;
    }
  }
  &__contentable {
    height: 100%;
    max-height: 100%;
    // width: 100%;
    max-width: 40rem;
  }
  &__content {
    height: 100%;
    overflow-y: auto;
    max-height: 100%;
    width: 100%;
    max-width: 40rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include small-tablet {
      margin: 0 auto;
      margin-top: 3rem;
      max-width: 100%;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    h7 {
      margin: 0;
      margin-bottom: 1rem;
      font-family: var(--second-family);
      font-weight: 500;
      font-size: 3rem;
      line-height: 120%;
      letter-spacing: -0.02em;
      // text-align: center;
      color: #1d1b1a;
      @include tablet {
        font-size: 2.4rem;
      }
      @include small-tablet {
        font-size: 2.2rem;
      }
    }

    p {
      margin: 0;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 120%;
      // text-align: center;
      color: #1d1b1a;
      &:not(:last-child) {
        margin-bottom: 1em;
      }

      @include tablet {
        font-size: 1.4rem;
      }
      @include mobile {
        font-size: 1.2rem;
      }
    }
  }

  &__top {
    height: 100%;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    min-width: 0;
    max-width: 100%;
    @include small-tablet {
      height: 73rem;
      gap: 1rem;
    }
    @include mobile {
      height: 31.7rem;
    }
  }
  &__main-slider {
    flex: 3;
    height: 100%;
    height: 100%;
  }
  &__thumbs {
    height: 100%;
    margin: 0;
    // padding-bottom: 1rem;
    .swiper-slide {
      position: relative;
      // height: 17.8rem;
      height: 17.6rem;
      @include mobile {
        // height: 8.6rem;
      }
      &::after {
        content: "";
        position: absolute;
        top: calc(100% + 0.5rem);
        left: 0;
        height: 2px;
        width: 10%;
        opacity: 0;
        z-index: -1;
        background-color: #1d1b1a;
        transition: width 0.3s ease-in, opacity 0.3s ease-in;
        will-change: width;
      }
      &.swiper-slide-thumb-active {
        &::after {
          z-index: 3;
          width: 100%;
          opacity: 1;
        }
      }
    }
  }
  &__wrapper {
    height: 100%;
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__right {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-width: 0;
    max-width: 100%;
  }
  &__btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
    width: 100%;
    height: 2.8rem;
    margin: 0 auto;
    user-select: none;
    transition: opacity 0.3s ease-in;
    svg,
    img {
      width: 2.8rem;
      height: 100%;
      user-select: none;
      stroke-width: 1px;
      stroke-linecap: round;
    }

    &:disabled {
      background: none;
    }

    &.hide {
      opacity: 0;
    }

    @include small-tablet {
      width: 3rem;
      height: 3rem;
    }
    @include mobile {
      width: 2.4rem;
      height: 2.4rem;
    }

    &.vertical-slider-prev {
      transform: rotate(180deg) translateX(50%);
      bottom: calc(100% + 0.1rem);
    }

    &.vertical-slider-next {
      top: calc(100% + 0.1rem);
    }

    // &:active {
    //   box-shadow: 0 0 5px rgba(#000, 0.7);
    // }
    // &:focus {
    //   box-shadow: 0 0 5px rgba(#000, 0.7);
    // }
  }
  .swiper {
    figure {
      display: block;
      height: 100%;
      margin: 0;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}

// .text-vertical--square {
//   .text-vertical {
//     &__main-slider {
//       flex: 2.8;
//       height: 100%;
//       padding-bottom: 1rem;
//     }
//   }
// }
