<section class="article-other" style="background-color: #fbfbfb">
  <div class="container article-other__container">
    <h2 class="title4 title4--dark article-other__title">
      <a href="#">Другие статьи </a>
    </h2>
  </div>
  <div class="article-other__slider swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <article class="article-other__item card">
          <a href="#" class="card__link"></a>
          <div class="card__img">
            <img src="./img/case.webp" alt="" />
          </div>
          <div class="card__content">
            <time datetime="01.01.2025" class="card__time">01.01.2025</time>
            <p class="desc3 card__name">Максим Александров</p>
            <p class="card__desc desc3">
              Искусство создания единой архитектурной концепции в
              многофункциональных объектах
            </p>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="article-other__item card">
          <a href="#" class="card__link"></a>
          <div class="card__img">
            <img src="./img/case.webp" alt="" />
          </div>
          <div class="card__content">
            <time datetime="01.01.2025" class="card__time">01.01.2025</time>
            <p class="desc3 card__name">Максим Александров</p>
            <p class="card__desc desc3">
              Искусство создания единой архитектурной концепции в
              многофункциональных объектах
            </p>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="article-other__item card">
          <a href="#" class="card__link"></a>
          <div class="card__img">
            <img src="./img/case.webp" alt="" />
          </div>
          <div class="card__content">
            <time datetime="01.01.2025" class="card__time">01.01.2025</time>
            <p class="desc3 card__name">Максим Александров</p>
            <p class="card__desc desc3">
              Искусство создания единой архитектурной концепции в
              многофункциональных объектах
            </p>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="article-other__item card">
          <a href="#" class="card__link"></a>
          <div class="card__img">
            <img src="./img/case.webp" alt="" />
          </div>
          <div class="card__content">
            <time datetime="01.01.2025" class="card__time">01.01.2025</time>
            <p class="desc3 card__name">Максим Александров</p>
            <p class="card__desc desc3">
              Искусство создания единой архитектурной концепции в
              многофункциональных объектах
            </p>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="article-other__item card">
          <a href="#" class="card__link"></a>
          <div class="card__img">
            <img src="./img/case.webp" alt="" />
          </div>
          <div class="card__content">
            <time datetime="01.01.2025" class="card__time">01.01.2025</time>
            <p class="desc3 card__name">Максим Александров</p>
            <p class="card__desc desc3">
              Искусство создания единой архитектурной концепции в
              многофункциональных объектах
            </p>
          </div>
        </article>
      </div>
    </div>
    <button class="article-other__btn article-other__btn--prev btn-reset">
      <svg
        width="14"
        height="24"
        viewBox="0 0 14 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0.49531 2.06344L2.44048 0.120106L13.0353 10.7113C13.2061 10.881 13.3416 11.0828 13.4341 11.3051C13.5266 11.5274 13.5742 11.7658 13.5742 12.0065C13.5742 12.2473 13.5266 12.4857 13.4341 12.708C13.3416 12.9303 13.2061 13.1321 13.0353 13.3018L2.44048 23.8984L0.497143 21.9551L10.4411 12.0093L0.49531 2.06344Z"
          fill="white"
        />
      </svg>
    </button>
    <button class="article-other__btn article-other__btn--next btn-reset">
      <svg
        width="14"
        height="24"
        viewBox="0 0 14 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0.49531 2.06344L2.44048 0.120106L13.0353 10.7113C13.2061 10.881 13.3416 11.0828 13.4341 11.3051C13.5266 11.5274 13.5742 11.7658 13.5742 12.0065C13.5742 12.2473 13.5266 12.4857 13.4341 12.708C13.3416 12.9303 13.2061 13.1321 13.0353 13.3018L2.44048 23.8984L0.497143 21.9551L10.4411 12.0093L0.49531 2.06344Z"
          fill="white"
        />
      </svg>
    </button>
  </div>
</section>
