<section class="article-other">
  <div class="container article-other__container">
    <h2 class="title4 title4--dark article-other__title">
      <a href="#">Другие статьи </a>
    </h2>
  </div>
  <div class="article-other__slider swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <article class="article-other__item card">
          <a href="#" class="card__link"></a>
          <div class="card__img">
            <img src="./img/case.webp" alt="" />
          </div>
          <div class="card__content">
            <time datetime="01.01.2025" class="card__time">01.01.2025</time>
            <p class="desc3 card__name">Максим Александров</p>
            <p class="card__desc desc3">
              Искусство создания единой архитектурной концепции в
              многофункциональных объектах
            </p>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="article-other__item card">
          <a href="#" class="card__link"></a>
          <div class="card__img">
            <img src="./img/case.webp" alt="" />
          </div>
          <div class="card__content">
            <time datetime="01.01.2025" class="card__time">01.01.2025</time>
            <p class="desc3 card__name">Максим Александров</p>
            <p class="card__desc desc3">
              Искусство создания единой архитектурной концепции в
              многофункциональных объектах
            </p>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="article-other__item card">
          <a href="#" class="card__link"></a>
          <div class="card__img">
            <img src="./img/case.webp" alt="" />
          </div>
          <div class="card__content">
            <time datetime="01.01.2025" class="card__time">01.01.2025</time>
            <p class="desc3 card__name">Максим Александров</p>
            <p class="card__desc desc3">
              Искусство создания единой архитектурной концепции в
              многофункциональных объектах
            </p>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="article-other__item card">
          <a href="#" class="card__link"></a>
          <div class="card__img">
            <img src="./img/case.webp" alt="" />
          </div>
          <div class="card__content">
            <time datetime="01.01.2025" class="card__time">01.01.2025</time>
            <p class="desc3 card__name">Максим Александров</p>
            <p class="card__desc desc3">
              Искусство создания единой архитектурной концепции в
              многофункциональных объектах
            </p>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="article-other__item card">
          <a href="#" class="card__link"></a>
          <div class="card__img">
            <img src="./img/case.webp" alt="" />
          </div>
          <div class="card__content">
            <time datetime="01.01.2025" class="card__time">01.01.2025</time>
            <p class="desc3 card__name">Максим Александров</p>
            <p class="card__desc desc3">
              Искусство создания единой архитектурной концепции в
              многофункциональных объектах
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
