<section class="avoid">
  <div class="avoid__wrapper">
    <div class="container">
      <div class="avoid__container">
        <div class="avoid__content">
          <h2 class="title2 avoid__title" data-aos-anchor-placement="top-botom" data-aos="fade-down">
            <span>Этих</span> проблем позволит избежать система&nbsp;IPO
          </h2>

          <div class="avoid__desc" data-aos-anchor-placement="bottom-botom" data-aos="fade-up">
            <p>
              <b>Integrated Project Optimization</b>
              &mdash;&nbsp;оптимизированные и&nbsp;интегрированные проекты
              с&nbsp;полной ответственностью генерального проектировщика
            </p>
            <p>
              <b>Делаем стройку управляемой, оптимизируем бюджет
                и&nbsp;сохраняем премиальное качество</b>
            </p>
          </div>
        </div>

        <div class="avoid__img">
          <picture>
            <source srcset="./img/plan.webp" type="image/webp" />
            <img loading="lazy" src="./img/plan.png" class="image" width="" height="" alt="" />
          </picture>
        </div>
      </div>
    </div>
    <div class="avoid__items" data-aos-anchor-placement="bottom-bottom" data-aos="line-anim">
      <div class="avoid-item avoid__item" data-aos-anchor-placement="bottom-bottom" data-aos="show-fig"
        data-aos-delay="300" data-aos-duration="600">
        <div class="avoid-item__fig"><span>01</span></div>
        <div class="avoid-item__desc desc1" data-aos="fade-down" data-aos-delay="300" data-aos-duration="600">
          <p>
            Точность проектов до&nbsp;0,5&nbsp;см, а&nbsp;не&nbsp;20&nbsp;см,
            как&nbsp;в&nbsp;типичных подходах
          </p>
        </div>
      </div>
      <div class="avoid-item avoid__item" data-aos-anchor-placement="bottom-bottom" data-aos="show-fig"
        data-aos-delay="500" data-aos-duration="600">
        <div class="avoid-item__fig"><span>02</span></div>
        <div class="avoid-item__desc desc1" data-aos="fade-down" data-aos-delay="500" data-aos-duration="600">
          <p>
            Полная Ответственность за&nbsp;результат: проект и&nbsp;стройка
            в&nbsp;наших руках&nbsp;&mdash; Главный Архитектор и&nbsp;главный
            Инженер ведут процесс от&nbsp;эскиза до&nbsp;ключей, исключая
            конфликты систем и&nbsp;элементов
          </p>
        </div>
      </div>
      <div class="avoid-item avoid__item" data-aos-anchor-placement="bottom-bottom" data-aos="show-fig"
        data-aos-delay="700" data-aos-duration="600">
        <div class="avoid-item__fig"><span>03</span></div>
        <div class="avoid-item__desc desc1" data-aos="fade-down" data-aos-delay="700" data-aos-duration="600">
          <p>
            Коллекция точных инженерных решений, материалов
            и&nbsp;узлов&nbsp;&mdash; опыт 11&nbsp;лет проектирования,
            строительства и&nbsp;эксплуатации
          </p>
        </div>
      </div>
    </div>
    <div class="avoid__cover avoid-cover" data-aos="zoom-in">
      <p class="avoid-cover__supertitle">
        В&nbsp;IPO нет догадок и&nbsp;экспериментов за&nbsp;Ваш счёт.
      </p>
      <p class="avoid-cover__supertitle">
        Строители следуют точным чертежам&nbsp;&mdash; без импровизаций
        и&nbsp;отговорок.
      </p>
      <p class="avoid-cover__supertitle">
        Каждый рубль даёт
        <span>результат</span>
      </p>
    </div>
  </div>
</section>