<section class="benefit">
  <div class="container">
    <div class="benefit__content">
      <h2 class="title2 benefit__title">1,5 <span>месяца</span></h2>
      <p class="benefit__subtitle title4">
        и ваш проект дома выходит на стройку
      </p>

      <p class="benefit__desc desc11">
        Пока типичное проектирование теряет время на&nbsp;бюрократию,
        мы&nbsp;запускаем всё параллельно. Архитекторы, инженеры
        и&nbsp;дизайнеры работают одновременно, а&nbsp;не&nbsp;ждут друг друга.
        Все решения принимаются на&nbsp;бумаге, а&nbsp;не&nbsp;в&nbsp;процессе
        строительства
      </p>

      <p class="benefit__bottom title4">
        Пока другие ждут чертежей, ваш дом уже растёт
      </p>
    </div>
  </div>
</section>
