<section class="benefit">
  <div class="container">
    <div class="benefit__content">
      <h2 class="title2 benefit__title" data-aos="fade-up">1,5 <span>месяца</span></h2>
      <p class="benefit__subtitle title4" data-aos="fade-up" data-aos-delay="200">
        и ваш проект дома выходит на стройку
      </p>

      <p class="benefit__desc desc11" data-aos="fade-up" data-aos-delay="300">
        Пока типичное проектирование теряет время на&nbsp;бюрократию,
        мы&nbsp;запускаем всё параллельно. Архитекторы, инженеры
        и&nbsp;дизайнеры работают одновременно, а&nbsp;не&nbsp;ждут друг друга.
        Все решения принимаются на&nbsp;бумаге, а&nbsp;не&nbsp;в&nbsp;процессе
        строительства
      </p>

      <p class="benefit__bottom title4" data-aos="fade-up" data-aos-delay="400">
        Пока другие ждут чертежей, ваш дом уже растёт
      </p>
    </div>
  </div>
</section>