<section class="build">
  <div class="container">
    <h2 class="title2 title2--dark build__title">
      11&nbsp;лет <span>строили</span> премиум-дома от&nbsp;500 до&nbsp;5000
      кв.м,<br />
      а&nbsp;не&nbsp;только проектировали
    </h2>
    <p class="capture2 build__subtitle">
      На&nbsp;больших площадях не&nbsp;работают стандартные решения
      и&nbsp;простое декорирование
    </p>

    <div class="build__items">
      <div class="build__item">
        <div class="build__icon">
          <img src="./img/copy.svg" alt="" />
        </div>
        <p class="build__text desc2">
          Частая ошибка&nbsp;&mdash; копируют инженерные решения
          с&nbsp;маленьких объектов на&nbsp;большие. Это не&nbsp;работает
        </p>
      </div>
      <div class="build__item">
        <div class="build__icon">
          <img src="./img/sofa.svg" alt="" />
        </div>
        <p class="build__text desc2">
          В&nbsp;малых интерьерах декорируют. В&nbsp;больших&nbsp;&mdash;
          режиссируют. Там&nbsp;&mdash; стены и&nbsp;диван. Здесь&nbsp;&mdash;
          логика, сценарий и&nbsp;пространство
        </p>
      </div>
    </div>
  </div>
  <div class="swiper build__slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide build__video">
        <video src=""></video>
      </div>
      <div class="swiper-slide build__video">
        <video src=""></video>
      </div>
      <div class="swiper-slide build__video">
        <video src=""></video>
      </div>
      <div class="swiper-slide build__video">
        <video src=""></video>
      </div>
      <div class="swiper-slide build__video">
        <video src=""></video>
      </div>
      <div class="swiper-slide build__video">
        <video src=""></video>
      </div>
      <div class="swiper-slide build__video">
        <video src=""></video>
      </div>
      <div class="swiper-slide build__video">
        <video src=""></video>
      </div>
    </div>
  </div>
</section>
