<section class="cta">
  <div class="container">
    <div class="sup-label cta__sup-label">Свяжитесь с&nbsp;нами</div>
    <div class="cta__title title2 title2--dark">
      Узнайте <span>главное</span> &mdash;&nbsp;до того, как вложите миллионы
    </div>
    <div class="cta__row">
      <div class="modal__images cta__images">
        <div class="modal__img">
          <img src="./img/zay/01.webp" alt="" />
        </div>
        <div class="modal__img">
          <img src="./img/zay/02.webp" alt="" />
        </div>
        <div class="modal__img">
          <img src="./img/zay/03.webp" alt="" />
        </div>
      </div>

      <p class="cta__capture">
        Заполните форму — и получите ответы от экспертов на ключевые вопросы
        о&nbsp;проекте, стройке и участке
      </p>
    </div>

    <form action="#" class="form form--dark cta__form">
      <div class="cta__left">
        <div class="form__field">
          <div class="form__row">
            <label class="form__item">
              <input type="checkbox" name="Какая стоимость проекта моего дома?" value="Да" class="visually-hidden"
                checked />
              <div class="form__check"></div>
              <span>Какая стоимость проекта моего дома?</span>
            </label>
          </div>
          <div class="form__row">
            <label class="form__item">
              <input type="checkbox" name="Какая стоимость стройки моего дома?" value="Да" class="visually-hidden" />
              <div class="form__check"></div>
              <span>Какая стоимость стройки моего дома?</span>
            </label>
          </div>
          <div class="form__row">
            <label class="form__item">
              <input type="checkbox" name="Как скоро смогу начать стройку?" value="Да" class="visually-hidden" />
              <div class="form__check"></div>
              <span>Как скоро смогу начать стройку?</span>
            </label>
          </div>
          <div class="form__row">
            <label class="form__item">
              <input type="checkbox" name="Какой срок строительства моего дома?" value="Да" class="visually-hidden" />
              <div class="form__check"></div>
              <span>Какой срок строительства моего дома?</span>
            </label>
          </div>
          <div class="form__row">
            <label class="form__item">
              <input type="checkbox" name="Какие аргументы для снижения цены на участок?" value="Да"
                class="visually-hidden" />
              <div class="form__check"></div>
              <span>Какие аргументы для снижения цены на участок?</span>
            </label>
          </div>
          <div class="form__row">
            <label class="form__item">
              <input type="checkbox" name="Какие точки оптимизации бюджета строительства без ущерба для качества?"
                value="Да" class="visually-hidden" />
              <div class="form__check"></div>
              <span>Какие точки оптимизации бюджета строительства без ущерба
                для&nbsp;качества?</span>
            </label>
          </div>
        </div>
      </div>

      <div class="cta__right">
        <div class="form__field">
          <input type="text" name="Имя" id="form-name-cta" class="form__input input-name" />
          <label class="form__label" for="form-name-cta">Как к Вам обращаться?</label>
        </div>
        <div class="form__field">
          <input type="tel" id="form-tel-cta" name="Телефон" class="form__input input-tel" />
          <label class="form__label" for="form-tel-cta">Телефон*</label>
        </div>
        <div class="form__field">
          <input type="number" id="form-sq-pl-cta" name="Площадь участка" class="form__input input-tel" />
          <label class="form__label" for="form-sq-pl-cta">Площадь участка</label>
        </div>
        <div class="form__field">
          <input type="number" id="form-sq-cta" name="Площадь участка" class="form__input input-tel" />
          <label class="form__label" for="form-sq-cta">Площадь дома</label>
        </div>
      </div>
      <div class="cta__buttons">
        <button class="btn btn-reset btn--dark form__btn">
          Получить Ответы
        </button>
        <label class="form__agree form__item checkbox-group">
          <input type="checkbox" name="Согласен с политикой" value="Да" class="visually-hidden" />
          <div class="form__check"></div>
          <span>Согласен с&nbsp;<a href="#" target="_blank">Политикой конфиденциальности</a></span>
        </label>
      </div>
    </form>
  </div>
</section>