<section class="get-consult">
  <div class="get-consult__container">
    <div class="container">
      <div class="sup-label get-consult__label">Получите консультацию</div>
      <h2 class="title2 get-consult__title" data-aos="fade-up">
        30&nbsp;минут, которые <span>сохранят</span> Вам
        от&nbsp;30&nbsp;миллионов на&nbsp;переделках и&nbsp;просчётах
      </h2>
      <p class="get-consult__subtitle capture2 capture2--light" data-aos="fade-up">
        Вот что вы поймёте за один разговор:
      </p>
      <div class="get-consult__content">
        <div class="get-consult__wrap">
          <div class="get-consult__items">
            <div class="get-consult__item gc-item" data-aos="gc-number">
              <div class="gc-item__fig"><span>01</span></div>
              <p class="gc-item__desc">
                Реальный бюджет вашего дома&nbsp;&mdash; с&nbsp;учётом
                архитектуры, инженерии, отделки и&nbsp;особенностей участка
              </p>
            </div>
            <div class="get-consult__item gc-item" data-aos="gc-number">
              <div class="gc-item__fig"><span>02</span></div>
              <p class="gc-item__desc">
                Риски, которые всплывают на&nbsp;стройке &mdash;&nbsp;и&nbsp;как
                избежать пустой переплаты в&nbsp;миллионы рублей
              </p>
            </div>
          </div>

          <div class="get-consult__items">
            <div class="get-consult__item gc-item" data-aos="gc-number">
              <div class="gc-item__fig"><span>03</span></div>
              <p class="gc-item__desc">
                Как обернуть ограничения участка в&nbsp;архитектурные
                преимущества&nbsp;&mdash; вместо компромиссов
              </p>
            </div>
            <div class="get-consult__item gc-item" data-aos="gc-number">
              <div class="gc-item__fig"><span>04</span></div>
              <p class="gc-item__desc">
                Варианты оптимизации, которые используют дальновидные
                &mdash;&nbsp;без&nbsp;потерь в&nbsp;качестве и&nbsp;комфорте
              </p>
            </div>
          </div>
        </div>

        <p class="get-consult__bottom">
          Запишитесь на&nbsp;онлайн-встречу, пока вы&nbsp;управляете
          проектом&nbsp;&mdash; а&nbsp;не&nbsp;исправляете последствия
        </p>

        <div class="get-consult__btn-wrap" data-aos-anchor-placement="bottom-botom" data-aos="draw-path">
          <button class="btn-reset btn get-consult__btn">
            Запланировать встречу
          </button>
          <svg width="70" height="83" viewBox="0 0 70 83" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_0_905)">
              <path
                d="M45.1289 -30.6758C55.6652 -3.01834 78.2816 43.5686 40.3625 60.5487C31.0736 64.7082 22.4129 62.7762 12.777 61.3007C12.3607 61.2369 2.95882 58.2141 4.15268 57.5262C7.34953 55.6839 26.0208 44.5384 13.8459 51.6486C12.5579 52.4009 2.95 56.0319 2.71319 57.5784C2.06799 61.792 15.9798 74.5156 18.6493 78.1504"
                stroke="#B56D25" stroke-width="2" stroke-dasharray="1000" stroke-dashoffset="1000"
                stroke-linecap="round" />
            </g>
            <defs>
              <clipPath id="clip0_0_905">
                <rect width="70" height="83" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </div>
      </div>
    </div>

    <div class="get-consult__img" data-aos="fade-left" data-aos-duration="700">
      <picture>
        <source srcset="./img/magazine.webp" type="image/webp" />
        <img src="./img/magazine.jpg" class="image" width="" height="" alt="" />
      </picture>
    </div>
    <div class="get-consult__cta">
      <span>Что учитывают&nbsp;те, кто строит с&nbsp;умом&nbsp;
        &mdash;&nbsp;и&nbsp;не&nbsp;платит за&nbsp;чужие ошибки.</span>
      <span>11&nbsp;лет архитектурного опыта&nbsp;&mdash; в&nbsp;одном гайде.</span>
      Скачать&nbsp;&mdash; <a href="#" target="_blank">здесь</a>
    </div>
  </div>
</section>
