<section class="methods">
  <div class="methods__container">
    <div class="container">
      <div class="sup-label methods__sup-label">Своя методика</div>

      <h2 class="title2 title2--dark methods__title" data-aos="fade-up">
        Ещё не купили <span>участок?</span>
      </h2>

      <div class="methods__desc capture2" data-aos="fade-up">
        <p>
          Премиум посёлок и&nbsp;близость к&nbsp;МКАД
          <b>&mdash;&nbsp;не&nbsp;гарантия идеального участка.</b>
        </p>
        <p>
          <b>750 кейсов показали одно: </b>
          рельеф, отступы, грунты, регламенты&nbsp;&mdash; именно
          <b>они съедают бюджет и&nbsp;разрушают приватность.</b>
        </p>
        <p>
          Мы&nbsp;проверим ваш участок&nbsp;ДО покупки
          по&nbsp;42&nbsp;параметрам &mdash;&nbsp;быстро и&nbsp;точно. Чтобы
          участок позволил воплотить всё важное
          <b>&mdash;&nbsp;без компромиссов</b>
        </p>
      </div>

      <div class="methods__block">
        <p class="methods__capture capture2" data-aos="fade-up">
          Просто заполните форму и получите разбор:
        </p>
        <div class="methods__items" data-aos="fade-up">
          <div class="methods__item">
            <div class="methods__icon">
              <img src="./img/methods/fit.svg" alt="" />
            </div>
            <div class="methods__content">
              <p class="methods__text">
                Подходит&nbsp;ли участок под ваш замысел&nbsp;&mdash; без компромиссов в&nbsp;архитектуре
                и&nbsp;комфорте
                <span class="methods__wrpaper">
                  <span>
                    <img src="./img/methods/info.svg" alt="" />
                  </span>
                  <span class="methods__tooltip">
                    Мы оценим, соответствует ли участок вашим замыслам, и покажем, как избежать проблем с неудобной
                    планировкой, потерей приватности и ненужными затратами. Вы будете уверены, что ваши идеи реализуемы
                    без
                    компромиссов.
                  </span>
                </span>
              </p>

            </div>
          </div>
          <div class="methods__item">
            <div class="methods__icon">
              <img src="./img/methods/blind.svg" alt="" />
            </div>
            <div class="methods__content">
              <p class="methods__text">
                Какие риски всплывут на&nbsp;проектной стадии&nbsp;&mdash; но&nbsp;платить за&nbsp;них придётся
                на&nbsp;стройке
                <span class="methods__wrpaper">
                  <span>
                    <img src="./img/methods/info.svg" alt="" />
                  </span>
                  <span class="methods__tooltip">
                    Мы оценим, соответствует ли участок вашим замыслам, и покажем, как избежать проблем с неудобной
                    планировкой, потерей приватности и ненужными затратами. Вы будете уверены, что ваши идеи реализуемы
                    без
                    компромиссов.
                  </span>
                </span>
              </p>
            </div>
          </div>
          <div class="methods__item">
            <div class="methods__icon">
              <img src="./img/methods/limit.svg" alt="" />
            </div>
            <div class="methods__content">
              <p class="methods__text">
                Как превратить ограничения участка в&nbsp;преимущества&nbsp;&mdash; в&nbsp;экстерьере и&nbsp;бюджете
                <span class="methods__wrpaper">
                  <span>
                    <img src="./img/methods/info.svg" alt="" />
                  </span>
                  <span class="methods__tooltip">
                    Мы оценим, соответствует ли участок вашим замыслам, и покажем, как избежать проблем с неудобной
                    планировкой, потерей приватности и ненужными затратами. Вы будете уверены, что ваши идеи реализуемы
                    без
                    компромиссов.
                  </span>
                </span>
              </p>
            </div>
          </div>
          <div class="methods__item">
            <div class="methods__icon">
              <img src="./img/methods/chess.svg" alt="" />
            </div>
            <div class="methods__content">
              <p class="methods__text">
                Какие аргументы использовать для торга&nbsp;&mdash; чтобы сохранить капитал,
                а&nbsp;не&nbsp;разбрасываться&nbsp;им
                <span class="methods__wrpaper">
                  <span>
                    <img src="./img/methods/info.svg" alt="" />
                  </span>
                  <span class="methods__tooltip">
                    Мы оценим, соответствует ли участок вашим замыслам, и покажем, как избежать проблем с неудобной
                    планировкой, потерей приватности и ненужными затратами. Вы будете уверены, что ваши идеи реализуемы
                    без
                    компромиссов.
                  </span>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="methods__row">
        <button class="btn-reset btn btn--dark methods__btn">
          Запланировать встречу
        </button>
      </div>
      <div class="methods__row">
        <a href="#" class="methods__link"> Наш опыт — почему нам доверяют </a>
      </div>
    </div>

    <div class="methods__img" data-aos="fade-left" data-aos-duration="700">
      <picture>
        <source srcset="./img/magazine.webp" type="image/webp" />
        <img src="./img/magazine.png" class="image" width="" height="" alt="" />
      </picture>

      <p class="methods__extra methods__extra--mob" data-aos-anchor-placement="bottom-botom" data-aos="draw-path">
        <svg width="92" height="186" viewBox="0 0 92 186" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M43.4884 1.07935C19.4857 43.3998 -28.8566 113.474 28.5352 150.501C42.5944 159.571 57.1482 158.587 73.1734 158.587C73.8657 158.587 89.8954 156.014 88.1266 154.599C83.3903 150.81 55.8236 128.053 73.838 142.637C75.7438 144.179 90.4527 152.47 90.4527 155.042C90.4527 162.05 64.6809 179.263 59.4386 184.506"
            stroke="#B56D25" stroke-width="2" stroke-linecap="round" stroke-dasharray="1000" stroke-dashoffset="1000" />
        </svg>
        <b>Планировки для тех, кто хочет максимум от участка.</b>
        Рабочие схемы — в одном файле. Скачать —
        <a href="#" target="_blank">здесь</a>
      </p>
    </div>

    <p class="methods__extra" data-aos-anchor-placement="bottom-botom" data-aos="draw-path">
      <svg width="92" height="186" viewBox="0 0 92 186" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M43.4884 1.07935C19.4857 43.3998 -28.8566 113.474 28.5352 150.501C42.5944 159.571 57.1482 158.587 73.1734 158.587C73.8657 158.587 89.8954 156.014 88.1266 154.599C83.3903 150.81 55.8236 128.053 73.838 142.637C75.7438 144.179 90.4527 152.47 90.4527 155.042C90.4527 162.05 64.6809 179.263 59.4386 184.506"
          stroke="#B56D25" stroke-width="2" stroke-linecap="round" stroke-dasharray="1000" stroke-dashoffset="1000" />
      </svg>
      <b>Планировки для тех, кто хочет максимум от участка.</b>
      Рабочие схемы — в одном файле. Скачать —
      <a href="#" target="_blank">здесь</a>
    </p>
  </div>
</section>