<div class="modal modal--cons">
  <div class="modal__body">
    <button class="btn-reset modal__close"></button>
    <div class="modal__header">
      <div class="modal__images">
        <div class="modal__img">
          <picture>
            <source srcset="./img/zay/01.webp" type="image/webp" />
            <img
              loading="lazy"
              src="./img/zay/01.png"
              class="image"
              width=""
              height=""
              alt=""
            />
          </picture>
        </div>
        <div class="modal__img">
          <picture>
            <source srcset="./img/zay/02.webp" type="image/webp" />
            <img
              loading="lazy"
              src="./img/zay/02.png"
              class="image"
              width=""
              height=""
              alt=""
            />
          </picture>
        </div>
        <div class="modal__img">
          <picture>
            <source srcset="./img/zay/03.webp" type="image/webp" />
            <img
              loading="lazy"
              src="./img/zay/03.png"
              class="image"
              width=""
              height=""
              alt=""
            />
          </picture>
        </div>
        <div class="modal__img">
          <picture>
            <source srcset="./img/zay/04.webp" type="image/webp" />
            <img
              loading="lazy"
              src="./img/zay/04.png"
              class="image"
              width=""
              height=""
              alt=""
            />
          </picture>
        </div>
        <div class="modal__img">
          <picture>
            <source srcset="./img/zay/05.webp" type="image/webp" />
            <img
              loading="lazy"
              src="./img/zay/05.png"
              class="image"
              width=""
              height=""
              alt=""
            />
          </picture>
        </div>
        <div class="modal__img">
          <picture>
            <source srcset="./img/zay/06.webp" type="image/webp" />
            <img
              loading="lazy"
              src="./img/zay/06.png"
              class="image"
              width=""
              height=""
              alt=""
            />
          </picture>
        </div>
      </div>
      <p class="modal__title">
        Заполните форму&nbsp;&mdash; и&nbsp;стройка работает на&nbsp;вас.
        Остальные платят за&nbsp;просчёты
      </p>
      <form action="#" class="form modal__form">
        <div class="form__field">
          <span class="form__capture"> Вы уже купили Участок? </span>
          <div class="form__row">
            <label class="form__item">
              <input
                type="radio"
                name="Вы уже купили участок?"
                value="Да"
                class="visually-hidden"
              />
              <div class="form__check"></div>
              <span>Да</span>
            </label>
            <label class="form__item">
              <input
                type="radio"
                name="Вы уже купили участок?"
                value="Нет"
                class="visually-hidden"
              />
              <div class="form__check"></div>
              <span>Нет</span>
            </label>
            <label class="form__item">
              <input
                type="radio"
                name="Вы уже купили участок?"
                value="Выбираю"
                class="visually-hidden"
              />
              <div class="form__check"></div>
              <span>Выбираю</span>
            </label>
          </div>
        </div>
        <div class="form__field">
          <span class="form__capture"> Планируемая площадь дома? </span>
          <div class="form__row">
            <label class="form__item">
              <input
                type="radio"
                name="Планируемая площадь дома? "
                value="Да"
                class="visually-hidden"
              />
              <div class="form__check"></div>
              <span>Да</span>
            </label>
            <label class="form__item">
              <input
                type="radio"
                name="Планируемая площадь дома? "
                value="Нет"
                class="visually-hidden"
              />
              <div class="form__check"></div>
              <span>Нет</span>
            </label>
            <label class="form__item">
              <input
                type="radio"
                name="Планируемая площадь дома? "
                value="Выбираю"
                class="visually-hidden"
              />
              <div class="form__check"></div>
              <span>Выбираю</span>
            </label>
          </div>
        </div>
        <div class="form__field">
          <span class="form__capture"> Комфортный способ связи: </span>
          <div class="form__row">
            <label class="form__item">
              <input
                type="radio"
                name="Комфортный способ связи:"
                value="Да"
                class="visually-hidden"
              />
              <div class="form__check"></div>
              <span>Да</span>
            </label>
            <label class="form__item">
              <input
                type="radio"
                name="Комфортный способ связи:"
                value="Нет"
                class="visually-hidden"
              />
              <div class="form__check"></div>
              <span>Нет</span>
            </label>
            <label class="form__item">
              <input
                type="radio"
                name="Комфортный способ связи:"
                value="Выбираю"
                class="visually-hidden"
              />
              <div class="form__check"></div>
              <span>Выбираю</span>
            </label>
          </div>
        </div>
        <div class="form__field">
          <input
            type="text"
            name="Имя"
            id="form-name"
            class="form__input input-name"
          />
          <label class="form__label" for="form-name">Имя</label>
        </div>
        <div class="form__field">
          <input
            type="text"
            id="form-tel"
            name="Телефон"
            class="form__input input-tel"
          />
          <label class="form__label" for="form-tel">Телефон</label>
        </div>
        <button class="btn btn-reset btn--white form__btn">
          Получить консультацию
        </button>
        <label class="form__agree form__item">
          <input type="checkbox" class="visually-hidden" />
          <div class="form__check"></div>
          <span
            >Согласен с&nbsp;<a href="#" target="_blank"
              >Политикой конфиденциальности</a
            ></span
          >
        </label>
      </form>
    </div>
  </div>
</div>
