<div class="modal modal--cons " id="modal-why">
  <div class="modal__body">
    <button class="btn-reset modal__close"></button>
    <div class="modal__wrapper">
      <div class="modal__header">
        <div class="modal__images">
          <div class="modal__img">
            <picture>
              <source srcset="./img/zay/01.webp" type="image/webp" />
              <img loading="lazy" src="./img/zay/01.png" class="image" width="" height="" alt="" />
            </picture>
          </div>
          <div class="modal__img">
            <picture>
              <source srcset="./img/zay/02.webp" type="image/webp" />
              <img loading="lazy" src="./img/zay/02.png" class="image" width="" height="" alt="" />
            </picture>
          </div>
          <div class="modal__img">
            <picture>
              <source srcset="./img/zay/03.webp" type="image/webp" />
              <img loading="lazy" src="./img/zay/03.png" class="image" width="" height="" alt="" />
            </picture>
          </div>
          <div class="modal__img">
            <picture>
              <source srcset="./img/zay/04.webp" type="image/webp" />
              <img loading="lazy" src="./img/zay/04.png" class="image" width="" height="" alt="" />
            </picture>
          </div>
          <div class="modal__img">
            <picture>
              <source srcset="./img/zay/05.webp" type="image/webp" />
              <img loading="lazy" src="./img/zay/05.png" class="image" width="" height="" alt="" />
            </picture>
          </div>
          <div class="modal__img">
            <picture>
              <source srcset="./img/zay/06.webp" type="image/webp" />
              <img loading="lazy" src="./img/zay/06.png" class="image" width="" height="" alt="" />
            </picture>
          </div>
        </div>
        <p class="modal__title">
          Наш опыт<br>
          &mdash;&nbsp;почему нам <span>доверяют</span>
        </p>
      </div>
      <ul class="list-reset team__list modal__list">
        <li class="team__item">
          70+ участков диагностируем ежегодно в премиальных локациях РФ
        </li>
        <li class="team__item">
          56 Клиентов отговорили от покупки некачественных участков несмотря на красноречивость продавцов
        </li>
        <li class="team__item">
          +12,1% средняя величина дополнительного торга при покупке участка на выявленные скрытые недочёты
        </li>
        <li class="team__item">
          +51,4 млн. руб. - рекорд дополнительного торга на выявленные скрытые недочёты (сделка с участком в Барвихе)
        </li>
        <li class="team__item">
          С 2012 года проектируем и строим индивидуальные дома
          премиум-класса.
        </li>
        <li class="team__item">
          Проектировали и строили индивидуальные дома премиум-класса в топовых посёлках Подмосковья: Agalarov Estate,
          Миллениум Парк, Фортуна, Барвиха, Береста, Раздоры, Жуковка, Архангельское, Ново-Николино и другие
        </li>
      </ul>
    </div>
  </div>
</div>