<section class="optima">
  <div class="container">
    <h2 class="title2 optima__title" data-text="Без потери премиального комфорта и&nbsp;качества">
      В&nbsp;IPO <span>расширенные </span>
      возможности для оптимизации бюджета стройки
    </h2>

    <div class="optima__container">
      <div class="optima__left">
        <div class="optima__desc desc11">
          <p>
            В&nbsp;типичных проектах нет выбора решений&nbsp;<br />
            <b>&mdash;&nbsp;Вам остаётся только соглашаться </b>
          </p>
          <p>
            Мы&nbsp;же даём <b>до&nbsp;5&nbsp;вариантов</b> оптимизации
            на&nbsp;каждый элемент строительства, снижая затраты
            <b>минимум на&nbsp;28&nbsp;%</b>
          </p>
        </div>
      </div>
      <div class="optima__right">
        <div class="optima__levels">
          <div class="optima__lvl optima__lvl--premium">
            Премиальное качество
          </div>
          <div class="optima__lvl optima__lvl--optimal">
            Оптимальное качество
          </div>
          <div class="optima__lvl optima__lvl--wrong">Ущерб качеству</div>
        </div>
        <div class="optima__slides" data-aos="slides-lvl" data-aos-duration="3000">
          <div class="optima__slide optima__slide--1">
            <div class="optima__slide-line"></div>
            <div class="optima__capture">Материалы</div>
          </div>
          <div class="optima__slide optima__slide--2">
            <div class="optima__slide-line"></div>
            <div class="optima__capture">Конструктив</div>
          </div>
          <div class="optima__slide optima__slide--3">
            <div class="optima__slide-line"></div>
            <div class="optima__capture">Окна</div>
          </div>
          <div class="optima__slide optima__slide--4">
            <div class="optima__slide-line"></div>
            <div class="optima__capture">Оборудование</div>
          </div>
          <div class="optima__slide optima__slide--5">
            <div class="optima__slide-line"></div>
            <div class="optima__capture">Свет</div>
          </div>
          <div class="optima__slide optima__slide--6">
            <div class="optima__slide-line"></div>
            <div class="optima__capture">Декор</div>
          </div>
          <div class="optima__slide optima__slide--7">
            <div class="optima__slide-line"></div>
            <div class="optima__capture">Мебель</div>
          </div>
        </div>
      </div>
    </div>

    <div class="optima__bottom">
      <p class="optima__capture desc11">
        5&nbsp;кейсов, где сократили расходы&nbsp;&mdash; без потерь
        в&nbsp;качестве. Откройте любой:
      </p>

      <div class="swiper optima__slider">
        <div class="optima__items swiper-wrapper">
          <div class="optima__item swiper-slide" data-aos="fade-right" data-aos-delay="100" data-modal-target="modal-1">
            <div class="optima__icon">
              <svg class="">
                <use xlink:href="img/sprite.svg#backpack"></use>
              </svg>
            </div>
            <p class="optima__text desc4">
              <span>Сохранили 70&nbsp;млн. руб.:</span>
              панорамное остекление 3,8&nbsp;м&nbsp;без компромиссов
            </p>
          </div>
          <div class="optima__item swiper-slide" data-aos="fade-right" data-aos-delay="200" data-modal-target="modal-2">
            <div class="optima__icon">
              <svg class="">
                <use xlink:href="img/sprite.svg#backpack"></use>
              </svg>
            </div>
            <p class="optima__text desc4">
              <span> Сохранили&nbsp;21,5&nbsp;млн. руб.,</span>
              нашли решение: бассейн за&nbsp;38,5&nbsp;млн. вместо 60&nbsp;млн.
            </p>
          </div>
          <div class="optima__item swiper-slide" data-aos="fade-right" data-aos-delay="300" data-modal-target="modal-3">
            <div class="optima__icon">
              <svg class="">
                <use xlink:href="img/sprite.svg#backpack"></use>
              </svg>
            </div>
            <p class="optima__text desc4">
              <span>Сохранили 10&nbsp;млн. руб.,</span>
              предотвратив дорогостоящее подвальное решение
            </p>
          </div>
          <div class="optima__item swiper-slide" data-aos="fade-right" data-aos-delay="400" data-modal-target="modal-4">
            <div class="optima__icon">
              <svg class="">
                <use xlink:href="img/sprite.svg#backpack"></use>
              </svg>
            </div>
            <p class="optima__text desc4">
              <span> Сохранили 20&nbsp;млн. руб. </span>
              &nbsp;на&nbsp;фасаде из&nbsp;Травертина без ущерба эстетике
              и&nbsp;прочности
            </p>
          </div>
          <div class="optima__item swiper-slide" data-aos="fade-right" data-aos-delay="500" data-modal-target="modal-5">
            <div class="optima__icon">
              <svg class="">
                <use xlink:href="img/sprite.svg#backpack"></use>
              </svg>
            </div>
            <p class="optima__text desc4">
              <span> Сохранили 30&nbsp;млн. руб.,</span>
              отказались от&nbsp;лишних трат: объединили СПА и&nbsp;дом
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Модальные окна -->
  <div class="modal modal--case" id="modal-1">
    <div class="modal__content">
      <button class="modal__close"></button>
      <h3 class="modal__title">Сохранили 70 млн. руб.</h3>
      <div class="modal__text">
        <ul class="list-reset">
          <li>
            <span>Задача/замысел</span>
            Панорамное остекление высотой 3,8&nbsp;м.&nbsp;с&nbsp;персональными сценариями пользования (открывание,
            раздвигание, фурнитура и&nbsp;т.д.)
          </li>
          <li>
            <span>Сложность</span>
            90% производителей предлагают раздвижные окна
            высотой 2,5&ndash;3&nbsp;м, добавляя значительную наценку за&nbsp;кастомные решения. Бюджет крупных игроков
            рынка&nbsp;&mdash; от&nbsp;120 млн руб.
          </li>
          <li>
            <span>Решение</span>
            Объединили продукцию 3-х производителей в&nbsp;единое системное решение. Бюджет 50&nbsp;млн.руб.
          </li>
          <li>
            <span>Эффект</span>
            Оптимизация 70&nbsp;млн.руб. Воплощение замысла Клиента.
          </li>
        </ul>
      </div>
      <div class="centered">
        <button class="modal__next" data-next="modal-2">Следующий кейс</button>
      </div>
    </div>
  </div>

  <div class="modal modal--case" id="modal-2">
    <div class="modal__content">
      <button class="modal__close btn-reset"></button>
      <h3 class="modal__title">Сохранили 21,5 млн. руб.</h3>
      <div class="modal__text">
        <ul class="list-reset">
          <li>
            <span>Задача/замысел</span>
            Панорамное остекление высотой 3,8&nbsp;м.&nbsp;с&nbsp;персональными сценариями пользования (открывание,
            раздвигание, фурнитура и&nbsp;т.д.)
          </li>
          <li>
            <span>Сложность</span>
            90% производителей предлагают раздвижные окна
            высотой 2,5&ndash;3&nbsp;м, добавляя значительную наценку за&nbsp;кастомные решения. Бюджет крупных игроков
            рынка&nbsp;&mdash; от&nbsp;120 млн руб.
          </li>
          <li>
            <span>Решение</span>
            Объединили продукцию 3-х производителей в&nbsp;единое системное решение. Бюджет 50&nbsp;млн.руб.
          </li>
          <li>
            <span>Эффект</span>
            Оптимизация 70&nbsp;млн.руб. Воплощение замысла Клиента.
          </li>
        </ul>
      </div>
      <div class="centered">
        <button class="modal__next" data-next="modal-3">Следующий кейс</button>
      </div>
    </div>
  </div>

  <div class="modal modal--case" id="modal-3">
    <div class="modal__content">
      <button class="modal__close btn-reset"></button>
      <h3 class="modal__title">Сохранили 10 млн. руб.</h3>
      <div class="modal__text">
        <ul class="list-reset">
          <li>
            <span>Задача/замысел</span>
            Панорамное остекление высотой 3,8&nbsp;м.&nbsp;с&nbsp;персональными сценариями пользования (открывание,
            раздвигание, фурнитура и&nbsp;т.д.)
          </li>
          <li>
            <span>Сложность</span>
            90% производителей предлагают раздвижные окна
            высотой 2,5&ndash;3&nbsp;м, добавляя значительную наценку за&nbsp;кастомные решения. Бюджет крупных игроков
            рынка&nbsp;&mdash; от&nbsp;120 млн руб.
          </li>
          <li>
            <span>Решение</span>
            Объединили продукцию 3-х производителей в&nbsp;единое системное решение. Бюджет 50&nbsp;млн.руб.
          </li>
          <li>
            <span>Эффект</span>
            Оптимизация 70&nbsp;млн.руб. Воплощение замысла Клиента.
          </li>
        </ul>
      </div>
      <div class="centered">
        <button class="modal__next" data-next="modal-4">Следующий кейс</button>
      </div>
    </div>
  </div>

  <div class="modal modal--case" id="modal-4">
    <div class="modal__content">
      <button class="modal__close btn-reset"></button>
      <h3 class="modal__title">Сохранили 20 млн. руб.</h3>
      <div class="modal__text">
        <ul class="list-reset">
          <li>
            <span>Задача/замысел</span>
            Панорамное остекление высотой 3,8&nbsp;м.&nbsp;с&nbsp;персональными сценариями пользования (открывание,
            раздвигание, фурнитура и&nbsp;т.д.)
          </li>
          <li>
            <span>Сложность</span>
            90% производителей предлагают раздвижные окна
            высотой 2,5&ndash;3&nbsp;м, добавляя значительную наценку за&nbsp;кастомные решения. Бюджет крупных игроков
            рынка&nbsp;&mdash; от&nbsp;120 млн руб.
          </li>
          <li>
            <span>Решение</span>
            Объединили продукцию 3-х производителей в&nbsp;единое системное решение. Бюджет 50&nbsp;млн.руб.
          </li>
          <li>
            <span>Эффект</span>
            Оптимизация 70&nbsp;млн.руб. Воплощение замысла Клиента.
          </li>
        </ul>
      </div>
      <div class="centered">
        <button class="modal__next" data-next="modal-5">Следующий кейс</button>
      </div>
    </div>
  </div>

  <div class="modal modal--case" id="modal-5">
    <div class="modal__content">
      <button class="modal__close btn-reset"></button>
      <h3 class="modal__title">Сохранили 30 млн. руб.</h3>
      <div class="modal__text">
        <ul class="list-reset">
          <li>
            <span>Задача/замысел</span>
            Панорамное остекление высотой 3,8&nbsp;м.&nbsp;с&nbsp;персональными сценариями пользования (открывание,
            раздвигание, фурнитура и&nbsp;т.д.)
          </li>
          <li>
            <span>Сложность</span>
            90% производителей предлагают раздвижные окна
            высотой 2,5&ndash;3&nbsp;м, добавляя значительную наценку за&nbsp;кастомные решения. Бюджет крупных игроков
            рынка&nbsp;&mdash; от&nbsp;120 млн руб.
          </li>
          <li>
            <span>Решение</span>
            Объединили продукцию 3-х производителей в&nbsp;единое системное решение. Бюджет 50&nbsp;млн.руб.
          </li>
          <li>
            <span>Эффект</span>
            Оптимизация 70&nbsp;млн.руб. Воплощение замысла Клиента.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>