<section class="people">
  <div class="container">
    <h2 class="visually-hidden">title</h2>
  </div>
  <div class="container">
    <div class="swiper people__slider">
      <div class="people__row swiper-wrapper">
        <div class="people__item swiper-slide centered">
          <div class="people__img">
            <img src="./img/ban/01.webp" alt="" />
          </div>
          <p class="desc11 people__name">Екатерина Кивенко</p>
          <p class="desc3 people__prof">Ведущий дизайнер</p>
        </div>
        <div class="people__item swiper-slide centered">
          <div class="people__img">
            <img src="./img/ban/02.webp" alt="" />
          </div>
          <p class="desc11 people__name">Екатерина Кивенко</p>
          <p class="desc3 people__prof">Ведущий дизайнер</p>
        </div>
        <div class="people__item swiper-slide centered">
          <div class="people__img">
            <img src="./img/ban/03.webp" alt="" />
          </div>
          <p class="desc11 people__name">Екатерина Кивенко</p>
          <p class="desc3 people__prof">Ведущий дизайнер</p>
        </div>
        <div class="people__item swiper-slide centered">
          <div class="people__img">
            <img src="./img/ban/04.webp" alt="" />
          </div>
          <p class="desc11 people__name">Екатерина Кивенко</p>
          <p class="desc3 people__prof">Ведущий дизайнер</p>
        </div>
        <div class="people__item swiper-slide centered">
          <div class="people__img">
            <img src="./img/ban/05.webp" alt="" />
          </div>
          <p class="desc11 people__name">Екатерина Кивенко</p>
          <p class="desc3 people__prof">Ведущий дизайнер</p>
        </div>
      </div>
    </div>
  </div>
</section>
