<section class="portfolio" id="portfolio">
  <div class="container">
    <div class="portfolio__header">
      <h2 class="title2 portfolio__title">Наши проекты</h2>
      <p class="portfolio__subtitle">
        Создавались для посёлков Подмосковья: Agalarov Estate, Миллиниум Парк,
        Фортуна, Барвиха, Береста, Раздоры, Жуковка, Новониколино
      </p>
    </div>
  </div>

  <div class="portfolio__container">
    <div class="portfolio__item portfolio-item">
      <div class="portfolio-item__img">
        <picture>
          <source srcset="./img/portfolio/forest/01.webp" type="image/webp" />
          <img
            loading="lazy"
            src="./img/portfolio/forest/01.jpg"
            class="image"
            width=""
            height=""
            alt=""
          />
        </picture>
      </div>
      <div class="portfolio-item__info">
        <p class="portfolio-item__title">
          FOREST
          <span>1800 м<sup>2</sup></span>
        </p>
        <button class="btn-reset portfolio-item__btn">
          <svg
            width="25"
            height="25"
            viewBox="0 0 25 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M19.375 13.5918H13.375V19.5918H11.375V13.5918H5.375V11.5918H11.375V5.5918H13.375V11.5918H19.375V13.5918Z"
              fill="#F5F5F5"
              fill-opacity="0.8"
            />
          </svg>
        </button>
      </div>
    </div>

    <div class="portfolio__item portfolio-item">
      <div class="portfolio-item__img">
        <picture>
          <source srcset="./img/portfolio/vastu/01.webp" type="image/webp" />
          <img
            loading="lazy"
            src="./img/portfolio/vastu/01.jpg"
            class="image"
            width=""
            height=""
            alt=""
          />
        </picture>
      </div>
      <div class="portfolio-item__info">
        <p class="portfolio-item__title">
          Agalarov Vastu
          <span>1500 м<sup>2</sup></span>
        </p>
        <button class="btn-reset portfolio-item__btn">
          <svg
            width="25"
            height="25"
            viewBox="0 0 25 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M19.375 13.5918H13.375V19.5918H11.375V13.5918H5.375V11.5918H11.375V5.5918H13.375V11.5918H19.375V13.5918Z"
              fill="#F5F5F5"
              fill-opacity="0.8"
            />
          </svg>
        </button>
      </div>
    </div>

    <div class="portfolio__item portfolio-item">
      <div class="portfolio-item__img">
        <picture>
          <source
            srcset="./img/portfolio/millenium/01.webp"
            type="image/webp"
          />
          <img
            loading="lazy"
            src="./img/portfolio/millenium/01.jpg"
            class="image"
            width=""
            height=""
            alt=""
          />
        </picture>
      </div>
      <div class="portfolio-item__info">
        <p class="portfolio-item__title">
          Millenium
          <span>800 м<sup>2</sup></span>
        </p>
        <button class="btn-reset portfolio-item__btn">
          <svg
            width="25"
            height="25"
            viewBox="0 0 25 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M19.375 13.5918H13.375V19.5918H11.375V13.5918H5.375V11.5918H11.375V5.5918H13.375V11.5918H19.375V13.5918Z"
              fill="#F5F5F5"
              fill-opacity="0.8"
            />
          </svg>
        </button>
      </div>
    </div>

    <div class="portfolio__item portfolio-item">
      <div class="portfolio-item__img">
        <picture>
          <source srcset="./img/portfolio/soho/01.webp" type="image/webp" />
          <img
            loading="lazy"
            src="./img/portfolio/soho/01.jpg"
            class="image"
            width=""
            height=""
            alt=""
          />
        </picture>
      </div>
      <div class="portfolio-item__info">
        <p class="portfolio-item__title">
          Soho
          <span>700 м<sup>2</sup></span>
        </p>
        <button class="btn-reset portfolio-item__btn">
          <svg
            width="25"
            height="25"
            viewBox="0 0 25 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M19.375 13.5918H13.375V19.5918H11.375V13.5918H5.375V11.5918H11.375V5.5918H13.375V11.5918H19.375V13.5918Z"
              fill="#F5F5F5"
              fill-opacity="0.8"
            />
          </svg>
        </button>
      </div>
    </div>

    <div class="portfolio__item portfolio-item">
      <div class="portfolio-item__img">
        <picture>
          <source srcset="./img/portfolio/white/01.webp" type="image/webp" />
          <img
            loading="lazy"
            src="./img/portfolio/white/01.jpg"
            class="image"
            width=""
            height=""
            alt=""
          />
        </picture>
      </div>
      <div class="portfolio-item__info">
        <p class="portfolio-item__title">
          White Station
          <span>1700 м<sup>2</sup></span>
        </p>
        <button class="btn-reset portfolio-item__btn">
          <svg
            width="25"
            height="25"
            viewBox="0 0 25 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M19.375 13.5918H13.375V19.5918H11.375V13.5918H5.375V11.5918H11.375V5.5918H13.375V11.5918H19.375V13.5918Z"
              fill="#F5F5F5"
              fill-opacity="0.8"
            />
          </svg>
        </button>
      </div>
    </div>

    <div class="portfolio__item portfolio-item">
      <div class="portfolio-item__img">
        <picture>
          <source srcset="./img/portfolio/shogun/01.webp" type="image/webp" />
          <img
            loading="lazy"
            src="./img/portfolio/shogun/01.jpg"
            class="image"
            width=""
            height=""
            alt=""
          />
        </picture>
      </div>
      <div class="portfolio-item__info">
        <p class="portfolio-item__title">
          Shogun
          <span>1000 м<sup>2</sup></span>
        </p>
        <button class="btn-reset portfolio-item__btn">
          <svg
            width="25"
            height="25"
            viewBox="0 0 25 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M19.375 13.5918H13.375V19.5918H11.375V13.5918H5.375V11.5918H11.375V5.5918H13.375V11.5918H19.375V13.5918Z"
              fill="#F5F5F5"
              fill-opacity="0.8"
            />
          </svg>
        </button>
      </div>
    </div>

    <div class="portfolio__item portfolio-item">
      <div class="portfolio-item__img">
        <picture>
          <source srcset="./img/portfolio/parus/01.webp" type="image/webp" />
          <img
            loading="lazy"
            src="./img/portfolio/parus/01.jpg"
            class="image"
            width=""
            height=""
            alt=""
          />
        </picture>
      </div>
      <div class="portfolio-item__info">
        <p class="portfolio-item__title">
          parus
          <span>1200 м<sup>2</sup></span>
        </p>
        <button class="btn-reset portfolio-item__btn">
          <svg
            width="25"
            height="25"
            viewBox="0 0 25 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M19.375 13.5918H13.375V19.5918H11.375V13.5918H5.375V11.5918H11.375V5.5918H13.375V11.5918H19.375V13.5918Z"
              fill="#F5F5F5"
              fill-opacity="0.8"
            />
          </svg>
        </button>
      </div>
    </div>

    <div class="portfolio__item portfolio-item">
      <div class="portfolio-item__img">
        <picture>
          <source srcset="./img/portfolio/aura/01.webp" type="image/webp" />
          <img
            loading="lazy"
            src="./img/portfolio/aura/01.jpg"
            class="image"
            width=""
            height=""
            alt=""
          />
        </picture>
      </div>
      <div class="portfolio-item__info">
        <p class="portfolio-item__title">
          Aura Forma
          <span>1700 м<sup>2</sup></span>
        </p>
        <button class="btn-reset portfolio-item__btn">
          <svg
            width="25"
            height="25"
            viewBox="0 0 25 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M19.375 13.5918H13.375V19.5918H11.375V13.5918H5.375V11.5918H11.375V5.5918H13.375V11.5918H19.375V13.5918Z"
              fill="#F5F5F5"
              fill-opacity="0.8"
            />
          </svg>
        </button>
      </div>
    </div>

    <div class="portfolio__item portfolio-item">
      <div class="portfolio-item__img">
        <picture>
          <source srcset="./img/portfolio/purekey/01.webp" type="image/webp" />
          <img
            loading="lazy"
            src="./img/portfolio/purekey/01.jpg"
            class="image"
            width=""
            height=""
            alt=""
          />
        </picture>
      </div>
      <div class="portfolio-item__info">
        <p class="portfolio-item__title">
          Pure Key
          <span>600 м<sup>2</sup></span>
        </p>
        <button class="btn-reset portfolio-item__btn">
          <svg
            width="25"
            height="25"
            viewBox="0 0 25 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M19.375 13.5918H13.375V19.5918H11.375V13.5918H5.375V11.5918H11.375V5.5918H13.375V11.5918H19.375V13.5918Z"
              fill="#F5F5F5"
              fill-opacity="0.8"
            />
          </svg>
        </button>
      </div>
    </div>

    <div class="portfolio__item portfolio-item">
      <div class="portfolio-item__img">
        <picture>
          <source srcset="./img/portfolio/chalet/01.webp" type="image/webp" />
          <img
            loading="lazy"
            src="./img/portfolio/chalet/01.jpg"
            class="image"
            width=""
            height=""
            alt=""
          />
        </picture>
      </div>
      <div class="portfolio-item__info">
        <p class="portfolio-item__title">
          Modern Chalet
          <span>1400 м<sup>2</sup></span>
        </p>
        <button class="btn-reset portfolio-item__btn">
          <svg
            width="25"
            height="25"
            viewBox="0 0 25 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M19.375 13.5918H13.375V19.5918H11.375V13.5918H5.375V11.5918H11.375V5.5918H13.375V11.5918H19.375V13.5918Z"
              fill="#F5F5F5"
              fill-opacity="0.8"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
