<section class="portfolio" id="portfolio">
  <div class="container">
    <div class="portfolio__header" data-aos="fade-up">
      <h2 class="title2 portfolio__title">Наши проекты</h2>
      <p class="portfolio__subtitle">
        Создавались для посёлков Подмосковья: Agalarov Estate, Миллиниум Парк,
        Фортуна, Барвиха, Береста, Раздоры, Жуковка, Новониколино
      </p>
    </div>
  </div>

  <div class="portfolio__container" data-aos="fade-up">
    <div class="portfolio__item portfolio-item" data-modal-target="proj-modal-forest">
      <div class="portfolio-item__img">
        <picture>
          <source srcset="./img/portfolio/forest/01.webp" type="image/webp" />
          <img loading="lazy" src="./img/portfolio/forest/01.jpg" class="image" width="" height="" alt="" />
        </picture>
      </div>
      <div class="portfolio-item__info">
        <p class="portfolio-item__title">
          FOREST
          <span>1800 м<sup>2</sup></span>
        </p>
        <button class="btn-reset portfolio-item__btn">
          <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M19.375 13.5918H13.375V19.5918H11.375V13.5918H5.375V11.5918H11.375V5.5918H13.375V11.5918H19.375V13.5918Z"
              fill="#F5F5F5" fill-opacity="0.8" />
          </svg>
        </button>
      </div>
    </div>

    <div class="portfolio__item portfolio-item">
      <div class="portfolio-item__img">
        <picture>
          <source srcset="./img/portfolio/vastu/01.webp" type="image/webp" />
          <img loading="lazy" src="./img/portfolio/vastu/01.jpg" class="image" width="" height="" alt="" />
        </picture>
      </div>
      <div class="portfolio-item__info">
        <p class="portfolio-item__title">
          Agalarov Vastu
          <span>1500 м<sup>2</sup></span>
        </p>
        <button class="btn-reset portfolio-item__btn">
          <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M19.375 13.5918H13.375V19.5918H11.375V13.5918H5.375V11.5918H11.375V5.5918H13.375V11.5918H19.375V13.5918Z"
              fill="#F5F5F5" fill-opacity="0.8" />
          </svg>
        </button>
      </div>
    </div>

    <div class="portfolio__item portfolio-item">
      <div class="portfolio-item__img">
        <picture>
          <source srcset="./img/portfolio/millenium/01.webp" type="image/webp" />
          <img loading="lazy" src="./img/portfolio/millenium/01.jpg" class="image" width="" height="" alt="" />
        </picture>
      </div>
      <div class="portfolio-item__info">
        <p class="portfolio-item__title">
          Millenium
          <span>800 м<sup>2</sup></span>
        </p>
        <button class="btn-reset portfolio-item__btn">
          <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M19.375 13.5918H13.375V19.5918H11.375V13.5918H5.375V11.5918H11.375V5.5918H13.375V11.5918H19.375V13.5918Z"
              fill="#F5F5F5" fill-opacity="0.8" />
          </svg>
        </button>
      </div>
    </div>

    <div class="portfolio__item portfolio-item">
      <div class="portfolio-item__img">
        <picture>
          <source srcset="./img/portfolio/soho/01.webp" type="image/webp" />
          <img loading="lazy" src="./img/portfolio/soho/01.jpg" class="image" width="" height="" alt="" />
        </picture>
      </div>
      <div class="portfolio-item__info">
        <p class="portfolio-item__title">
          Soho
          <span>700 м<sup>2</sup></span>
        </p>
        <button class="btn-reset portfolio-item__btn">
          <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M19.375 13.5918H13.375V19.5918H11.375V13.5918H5.375V11.5918H11.375V5.5918H13.375V11.5918H19.375V13.5918Z"
              fill="#F5F5F5" fill-opacity="0.8" />
          </svg>
        </button>
      </div>
    </div>

    <div class="portfolio__item portfolio-item">
      <div class="portfolio-item__img">
        <picture>
          <source srcset="./img/portfolio/white/01.webp" type="image/webp" />
          <img loading="lazy" src="./img/portfolio/white/01.jpg" class="image" width="" height="" alt="" />
        </picture>
      </div>
      <div class="portfolio-item__info">
        <p class="portfolio-item__title">
          White Station
          <span>1700 м<sup>2</sup></span>
        </p>
        <button class="btn-reset portfolio-item__btn">
          <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M19.375 13.5918H13.375V19.5918H11.375V13.5918H5.375V11.5918H11.375V5.5918H13.375V11.5918H19.375V13.5918Z"
              fill="#F5F5F5" fill-opacity="0.8" />
          </svg>
        </button>
      </div>
    </div>

    <div class="portfolio__item portfolio-item">
      <div class="portfolio-item__img">
        <picture>
          <source srcset="./img/portfolio/shogun/01.webp" type="image/webp" />
          <img loading="lazy" src="./img/portfolio/shogun/01.jpg" class="image" width="" height="" alt="" />
        </picture>
      </div>
      <div class="portfolio-item__info">
        <p class="portfolio-item__title">
          Shogun
          <span>1000 м<sup>2</sup></span>
        </p>
        <button class="btn-reset portfolio-item__btn">
          <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M19.375 13.5918H13.375V19.5918H11.375V13.5918H5.375V11.5918H11.375V5.5918H13.375V11.5918H19.375V13.5918Z"
              fill="#F5F5F5" fill-opacity="0.8" />
          </svg>
        </button>
      </div>
    </div>

    <div class="portfolio__item portfolio-item">
      <div class="portfolio-item__img">
        <picture>
          <source srcset="./img/portfolio/parus/01.webp" type="image/webp" />
          <img loading="lazy" src="./img/portfolio/parus/01.jpg" class="image" width="" height="" alt="" />
        </picture>
      </div>
      <div class="portfolio-item__info">
        <p class="portfolio-item__title">
          parus
          <span>1200 м<sup>2</sup></span>
        </p>
        <button class="btn-reset portfolio-item__btn">
          <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M19.375 13.5918H13.375V19.5918H11.375V13.5918H5.375V11.5918H11.375V5.5918H13.375V11.5918H19.375V13.5918Z"
              fill="#F5F5F5" fill-opacity="0.8" />
          </svg>
        </button>
      </div>
    </div>

    <div class="portfolio__item portfolio-item">
      <div class="portfolio-item__img">
        <picture>
          <source srcset="./img/portfolio/aura/01.webp" type="image/webp" />
          <img loading="lazy" src="./img/portfolio/aura/01.jpg" class="image" width="" height="" alt="" />
        </picture>
      </div>
      <div class="portfolio-item__info">
        <p class="portfolio-item__title">
          Aura Forma
          <span>1700 м<sup>2</sup></span>
        </p>
        <button class="btn-reset portfolio-item__btn">
          <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M19.375 13.5918H13.375V19.5918H11.375V13.5918H5.375V11.5918H11.375V5.5918H13.375V11.5918H19.375V13.5918Z"
              fill="#F5F5F5" fill-opacity="0.8" />
          </svg>
        </button>
      </div>
    </div>

    <div class="portfolio__item portfolio-item">
      <div class="portfolio-item__img">
        <picture>
          <source srcset="./img/portfolio/purekey/01.webp" type="image/webp" />
          <img loading="lazy" src="./img/portfolio/purekey/01.jpg" class="image" width="" height="" alt="" />
        </picture>
      </div>
      <div class="portfolio-item__info">
        <p class="portfolio-item__title">
          Pure Key
          <span>600 м<sup>2</sup></span>
        </p>
        <button class="btn-reset portfolio-item__btn">
          <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M19.375 13.5918H13.375V19.5918H11.375V13.5918H5.375V11.5918H11.375V5.5918H13.375V11.5918H19.375V13.5918Z"
              fill="#F5F5F5" fill-opacity="0.8" />
          </svg>
        </button>
      </div>
    </div>

    <div class="portfolio__item portfolio-item">
      <div class="portfolio-item__img">
        <picture>
          <source srcset="./img/portfolio/chalet/01.webp" type="image/webp" />
          <img loading="lazy" src="./img/portfolio/chalet/01.jpg" class="image" width="" height="" alt="" />
        </picture>
      </div>
      <div class="portfolio-item__info">
        <p class="portfolio-item__title">
          Modern Chalet
          <span>1400 м<sup>2</sup></span>
        </p>
        <button class="btn-reset portfolio-item__btn">
          <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M19.375 13.5918H13.375V19.5918H11.375V13.5918H5.375V11.5918H11.375V5.5918H13.375V11.5918H19.375V13.5918Z"
              fill="#F5F5F5" fill-opacity="0.8" />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="portfolio__mob">
    <button class="btn btn-reset btn--white portfolio__more">Показать ещё</button>
  </div>
</section>

<!-- Модальные окна проектов -->
<div class="proj-modal" id="proj-modal-forest">
  <div class="proj-modal__content">
    <button class="btn-reset proj-modal__close"></button>
    <div class="proj-modal__body">
      <div class="proj-modal__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/portfolio/forest/01.webp" type="image/webp" />
              <img loading="lazy" src="./img/portfolio/forest/01.jpg" class="image" width="" height="" alt="FOREST" />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/portfolio/forest/02.webp" type="image/webp" />
              <img loading="lazy" src="./img/portfolio/forest/02.jpg" class="image" width="" height="" alt="FOREST" />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/portfolio/forest/03.webp" type="image/webp" />
              <img loading="lazy" src="./img/portfolio/forest/03.jpg" class="image" width="" height="" alt="FOREST" />
            </picture>
          </div>
        </div>
        <div class="proj-modal__navigation">
          <button class="btn-reset proj-modal__prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M15 18L9 12L15 6" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </button>
          <button class="btn-reset proj-modal__next">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </button>
        </div>
        <div class="proj-modal__pagination"></div>
      </div>
      <div class="proj-modal__info">
        <h2 class="proj-modal__title">FOREST</h2>
        <ul class="list-reset proj-modal__specs">
          <li>
            <span>Площадь</span>
            1500 м²
          </li>
          <li>
            <span>Назначение</span>
            2 этажа, 5 спален, бассейн, финская сауна, 3 кладовые
          </li>
          <li>
            <span>Вспомогательные постройки</span>
            Основная беседка, постройки, сад, парковка с навесом
          </li>
          <li>
            <span>Статус</span>
            Спроектирован и построен
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>