<section class="possible">
  <div class="container">
    <h2 class="title2 title2--dark possible__title" data-aos="fade-up">
      Это возможно, поскольку&nbsp;за&nbsp;11&nbsp;лет мы&nbsp;собрали коллекцию
      <span>проверенных</span> &nbsp;технологий
    </h2>

    <div class="possible__items">
      <div class="possible__item" data-aos="fade-right" data-aos-delay="100">
        <div class="possible__icon">
          <img src="./img/home.svg" alt="" />
        </div>
        <p class="possible__desc desc2">
          Проверяли не&nbsp;только на&nbsp;бумаге,
          <b>но&nbsp;и&nbsp;в&nbsp;реальных домах</b> премиум-класса
          (500&ndash;5&nbsp;000&nbsp;м&sup2;)
        </p>
      </div>
      <div class="possible__item" data-aos="fade-right" data-aos-delay="200">
        <div class="possible__icon">
          <img src="./img/chain.svg" alt="" />
        </div>
        <p class="possible__desc desc2">
          Каждый узел и&nbsp;материал
          <b>под постоянным контролем</b>
          в&nbsp;рамках гарантийного обслуживания
        </p>
      </div>
    </div>
    <div class="possible__browser browser">
      <div class="browser__header">
        <div class="browser__control">
          <div class="browser__dot browser__dot--close"></div>
          <div class="browser__dot browser__dot--min"></div>
          <div class="browser__dot browser__dot--fullscreen"></div>
        </div>
        <div class="browser__tab">
          <div class="browser__tab-content">
            <img src="./img/browser-logo.webp" alt="" />
            Borosa - Коллекция Технологий

            <span>
              <svg width="8" height="9" viewBox="0 0 8 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M0.281204 6.81551C0.00506113 7.09165 0.00506102 7.53936 0.281203 7.81551C0.557346 8.09165 1.00506 8.09165 1.2812 7.81551L4.03902 5.05769L6.79683 7.81551C7.07297 8.09165 7.52069 8.09165 7.79683 7.81551C8.07297 7.53936 8.07297 7.09165 7.79683 6.81551L5.03902 4.05769L7.79683 1.29988C8.07297 1.02374 8.07297 0.576023 7.79683 0.29988C7.52069 0.0237378 7.07297 0.0237379 6.79683 0.29988L4.03902 3.05769L1.2812 0.29988C1.00506 0.0237379 0.557346 0.0237378 0.281203 0.29988C0.00506102 0.576023 0.00506113 1.02374 0.281204 1.29988L3.03902 4.05769L0.281204 6.81551Z"
                  fill="#5E6063" />
              </svg>
            </span>
          </div>
        </div>
      </div>
      <div class="browser__url url">
        <div class="url__control">
          <div class="url__btn url__btn--prev">
            <img src="./img/browser-prev.svg" alt="" />
          </div>
          <div class="url__btn url__btn--next">
            <img src="./img/browser-prev.svg" alt="" />
          </div>
          <div class="url__btn url__btn--reload">
            <img src="./img/reload.svg" alt="" />
          </div>
        </div>
        <div class="url__path">
          <span>https://www.borosa.ru/borosa.system</span>
        </div>
        <div class="url__more">
          <img src="./img/browser-dots.svg" alt="" />
        </div>
      </div>
      <div class="browser__content browser-content" data-auto-scroll="true" data-scroll-duration="8000"
        data-pause-duration="3000">
        <div class="browser-content__body">
          <div class="browser-content__wrapper">
            <div class="browser-content__title">Коллекция Технологий</div>

            <div class="browser-content__items">
              <div class="browser-content__item browser-item">
                <div class="browser-item__label sup-label">Архитектура</div>
                <div class="browser-item__img">
                  <img src="./img/browser/01.webp" alt="" />
                </div>
                <div class="browser-item__capture">
                  <b>Облегчение консольной части перекрытия</b> для "парящей"
                  архитектуры — BOROSA.System
                </div>
              </div>
              <div class="browser-content__item browser-item">
                <div class="browser-item__label sup-label">Архитектура</div>
                <div class="browser-item__img">
                  <img src="./img/browser/02.webp" alt="" />
                </div>
                <div class="browser-item__capture">
                  <b>Террасные блоки</b> с&nbsp;эффектом массива и&nbsp;световым
                  контуром &mdash;&nbsp;BOROSA.System
                </div>
              </div>
              <div class="browser-content__item browser-item">
                <div class="browser-item__label sup-label">Архитектура</div>
                <div class="browser-item__img">
                  <img src="./img/browser/03.webp" alt="" />
                </div>
                <div class="browser-item__capture">
                  <b>Встроенные конвекторы</b> под нестандартную геометрию
                  окна&nbsp;&mdash; BOROSA.System
                </div>
              </div>
              <div class="browser-content__item browser-item">
                <div class="browser-item__label sup-label">Архитектура</div>
                <div class="browser-item__img">
                  <img src="./img/browser/04.webp" alt="" />
                </div>
                <div class="browser-item__capture">
                  <b>Скрытый проход коммуникаций</b> через балки без занижения
                  потолка &mdash;&nbsp;BOROSA.System
                </div>
              </div>
              <div class="browser-content__item browser-item">
                <div class="browser-item__label sup-label">Архитектура</div>
                <div class="browser-item__img">
                  <img src="./img/browser/05.webp" alt="" />
                </div>
                <div class="browser-item__capture">
                  <b>Узел закладных для парящей лестницы</b> с&nbsp;прецизионной
                  геометрией &mdash;&nbsp;BOROSA.System
                </div>
              </div>

              <div class="browser-content__item browser-item">
                <div class="browser-item__label sup-label">Архитектура</div>
                <div class="browser-item__img">
                  <img src="./img/browser/06.webp" alt="" />
                </div>
                <div class="browser-item__capture">
                  <b>Система скрытого водоотвода</b> без внешних труб
                  &mdash;&nbsp;BOROSA.System
                </div>
              </div>
              <div class="browser-content__item browser-item">
                <div class="browser-item__label sup-label">Архитектура</div>
                <div class="browser-item__img">
                  <img src="./img/browser/07.webp" alt="" />
                </div>
                <div class="browser-item__capture">
                  <b>Облегчённая кровля:</b> изящная геометрия и&nbsp;высокая
                  эффективность&nbsp;&mdash; BOROSA.System
                </div>
              </div>
              <div class="browser-content__item browser-item">
                <div class="browser-item__label sup-label">Архитектура</div>
                <div class="browser-item__img">
                  <img src="./img/browser/08.webp" alt="" />
                </div>
                <div class="browser-item__capture">
                  <b>Теневые профили фасада</b> с&nbsp;чистыми сопряжениями
                  &mdash;&nbsp;BOROSA.System
                </div>
              </div>
              <div class="browser-content__item browser-item">
                <div class="browser-item__label sup-label">Инженерия</div>
                <div class="browser-item__img">
                  <img src="./img/browser/09.webp" alt="" />
                </div>
                <div class="browser-item__capture">
                  <b>Герметичный ввод коммуникаций</b> с&nbsp;двухконтурной
                  защитой BOROSA.System
                </div>
              </div>
              <div class="browser-content__item browser-item">
                <div class="browser-item__label sup-label">Инженерия</div>
                <div class="browser-item__img">
                  <img src="./img/browser/10.webp" alt="" />
                </div>
                <div class="browser-item__capture">
                  <b>Термопривод для точной настройки</b> каждого контура
                  BOROSA.System
                </div>
              </div>

              <div class="browser-content__item browser-item">
                <div class="browser-item__label sup-label">Инженерия</div>
                <div class="browser-item__img">
                  <img src="./img/browser/11.webp" alt="" />
                </div>
                <div class="browser-item__capture">
                  <b>Узел гидравлики</b> с&nbsp;двойным резервом BOROSA.System
                </div>
              </div>
              <div class="browser-content__item browser-item">
                <div class="browser-item__label sup-label">Инженерия</div>
                <div class="browser-item__img">
                  <img src="./img/browser/12.webp" alt="" />
                </div>
                <div class="browser-item__capture">
                  <b>Узел вентиляции</b> для двусветных пространств
                  BOROSA.System
                </div>
              </div>
              <div class="browser-content__item browser-item">
                <div class="browser-item__label sup-label">Инженерия</div>
                <div class="browser-item__img">
                  <img src="./img/browser/13.webp" alt="" />
                </div>
                <div class="browser-item__capture">
                  <b>Система рекуперации тепла</b>
                  с&nbsp;повышенным КПД BOROSA.System
                </div>
              </div>
              <div class="browser-content__item browser-item">
                <div class="browser-item__label sup-label">Инженерия</div>
                <div class="browser-item__img">
                  <img src="./img/browser/14.webp" alt="" />
                </div>
                <div class="browser-item__capture">
                  <b>Узел отказоустойчивого кондиционирования</b> BOROSA.System
                </div>
              </div>
              <div class="browser-content__item browser-item">
                <div class="browser-item__label sup-label">Инженерия</div>
                <div class="browser-item__img">
                  <img src="./img/browser/15.webp" alt="" />
                </div>
                <div class="browser-item__capture">
                  <b>Система удаления</b> продуктов горения BOROSA.System
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>