<section class="princeps">
  <div class="container">
    <div class="sup-label princeps__sup-label">Принципы архитектуры</div>
    <h2 class="title2 title2--dark princeps__title" data-aos="fade-up">
      <span>Принципы</span> архитектуры, которые должны быть в&nbsp;каждом доме
      премиум-класса
    </h2>
    <div class="princeps__desc capture1" data-aos="fade-up">
      <p>
        Размышляя о&nbsp;своём доме, вы&nbsp;представляете красивую
        и&nbsp;гармоничную архитектуру.
      </p>
      <p>
        Мы&nbsp;создаём виллы, которые восхищают и&nbsp;остаются актуальными,
        благодаря <b>мастерству архитектурной композиции</b>
      </p>
    </div>

    <div class="princeps__slider swiper">
      <div class="swiper-wrapper">
        <div class="princeps__slide princep swiper-slide">
          <div class="princep__img">
            <picture>
              <source srcset="./img/princeps/01.webp" type="image/webp" />
              <img loading="lazy" src="./img/princeps/01.jpg" class="image" width="" height="" alt="" />
            </picture>
          </div>
          <ul class="princep__list list-reset">
            <li>
              <span>01</span>
              Ритмичное чередование декоративных элементов фасада
            </li>
            <li>
              <span>02</span>
              Контраст пластики фасада
            </li>
          </ul>
        </div>

        <div class="princeps__slide princep swiper-slide">
          <div class="princep__img">
            <picture>
              <source srcset="./img/princeps/02.webp" type="image/webp" />
              <img loading="lazy" src="./img/princeps/02.jpg" class="image" width="" height="" alt="" />
            </picture>
          </div>
          <ul class="princep__list list-reset">
            <li>
              <span>01</span>
              Целостность облика&nbsp;&mdash; за&nbsp;счёт одной высоты всех
              горизонтальных элементов
            </li>
            <li>
              <span>02</span>
              Гнутый металлический элемент выделяет вход
            </li>
          </ul>
        </div>

        <div class="princeps__slide princep swiper-slide">
          <div class="princep__img">
            <picture>
              <source srcset="./img/princeps/03.webp" type="image/webp" />
              <img loading="lazy" src="./img/princeps/03.jpg" class="image" width="" height="" alt="" />
            </picture>
          </div>
          <ul class="princep__list list-reset">
            <li>
              <span>01</span>
              Пояса перекрытий создают целостность восприятия
            </li>
            <li>
              <span>02</span>
              Цельность фасада&nbsp;&mdash; за&nbsp;счёт двух материалов
              и&nbsp;единства приёмов
            </li>
          </ul>
        </div>

        <div class="princeps__slide princep swiper-slide">
          <div class="princep__img">
            <picture>
              <source srcset="./img/princeps/04.webp" type="image/webp" />
              <img loading="lazy" src="./img/princeps/04.jpg" class="image" width="" height="" alt="" />
            </picture>
          </div>
          <ul class="princep__list list-reset">
            <li>
              <span>01</span>
              Вертикальный модуль задаёт ритм и&nbsp;балансирует горизонтали
            </li>
            <li>
              <span>02</span>
              Асимметрия фасада сбалансирована пластикой выступа и&nbsp;ритмом
              панелей
            </li>
          </ul>
        </div>

        <div class="princeps__slide princep swiper-slide">
          <div class="princep__img">
            <picture>
              <source srcset="./img/princeps/05.webp" type="image/webp" />
              <img loading="lazy" src="./img/princeps/05.jpg" class="image" width="" height="" alt="" />
            </picture>
          </div>
          <ul class="princep__list list-reset">
            <li>
              <span>01</span>
              Чередование уклонов кровли придаёт длине динамику
            </li>
            <li>
              <span>02</span>
              Ритм окон, фасадных выступов и&nbsp;кровли объединяется
              в&nbsp;единую композицию
            </li>
          </ul>
        </div>
      </div>

      <div class="princeps__control">
        <button class="btn-reset princeps__btn princeps__btn--prev">
          <img src="./img/arr-slider.svg" alt="" />
        </button>
        <button class="btn-reset princeps__btn princeps__btn--next">
          <img src="./img/arr-slider.svg" alt="" />
        </button>
      </div>
    </div>

    <p class="princeps__bottom title2 title2--dark" data-aos="fade-up">
      Проектируя по&nbsp;IPO Вы&nbsp;создаёте дом, который не&nbsp;только
      соответствует самым высоким стандартам премиум-класса,
      но&nbsp;и&nbsp;сохраняет свою <span>эстетику</span>
      и&nbsp;ликвидность десятилетиями
    </p>
  </div>
</section>
