<section class="proj before-after-wrapper">
  <div class="container">
    <h2 class="title2 title2--dark proj__title" data-aos="fade-up">
      Как <span>спроектировано</span> <br />&mdash;&nbsp;так
      и&nbsp;построено.<br />
      <div>Ни&nbsp;сантиметра в&nbsp;сторону</div>
    </h2>

  </div>
  <div class="proj__wrapper">
    <div class="proj__slider before-after">
      <div class="before-after__before">
        <picture>
          <source srcset="./img/before.webp" type="image/webp" />
          <img loading="lazy" src="./img/before.jpg" class="image" width="" height="" alt="" />
        </picture>
      </div>
      <div class="before-after__after">
        <picture>
          <source srcset="./img/after.webp" type="image/webp" />
          <img loading="lazy" src="./img/after.jpg" class="image" width="" height="" alt="" />
        </picture>
      </div>
      <div class="before-after__change">
        <div class="before-after__change-prev"></div>
        <div class="before-after__change-next"></div>
      </div>
    </div>
    <div class="proj__bottom desc3">
      Двигайте вертикальную линию,<br />чтобы увидеть разницу
    </div>
  </div>
</section>