<section class="service" id="price">
  <div class="container">
    <div class="sup-label service__sup-label">Услуги и стоимость</div>
    <h2 class="title2 title2--dark service__title" data-aos="fade-up">
      Хороший проект&nbsp;&mdash; это лишь начало. Наши проекты
      и&nbsp;строители&mdash; два элемента, которые гарантируют идеальный дом
    </h2>

    <div class="service__items">
      <div
        class="service__item service-item"
        data-aos="number-slide-up"
        data-aos-delay="100"
      >
        <div class="service-item__header">
          <div class="service-item__fig">01</div>
          <p class="service-item__title">
            Комплексная<br />
            диагностика участка
          </p>
        </div>
        <div class="service-item__body">
          <ul class="list-reset service-item__list">
            <li>+ Сопровождение в&nbsp;подборе</li>
            <li>
              + Понимание скрытых рисков участка и&nbsp;их&nbsp;последствий
            </li>
            <li>+ Чёткая стратегия торга при покупке</li>
            <li>
              + Анализ потенциала участка и&nbsp;решения по&nbsp;работе
              с&nbsp;его минусами
            </li>
            <li>
              + Влияние особенностей участка на&nbsp;оптимизацию/удорожание
              строительства
            </li>
            <li>+ Перечень данных для быстрого старта проектирования</li>
          </ul>

          <div class="service-item__bottom">
            <span class="service-item__capture"> Результат </span>
            <p class="service-item__comp">
              Участок, где сходится главное: план, бюджет, приватность
            </p>
          </div>

          <div class="service-item__total">
            <p class="service-item__price">от 0 руб.</p>
            <button class="btn-reset btn btn--dark service-item__btn">
              Заказать
            </button>
          </div>
        </div>
        <button class="btn-reset btn service-item__more">Подробнее</button>
      </div>

      <div
        class="service__item service-item"
        data-aos="number-slide-up"
        data-aos-delay="200"
      >
        <div class="service-item__header">
          <div class="service-item__fig">02</div>
          <p class="service-item__title">
            Архитектурный<br />
            эскизный проект
          </p>
        </div>
        <div class="service-item__body">
          <p class="service-item__subtitle">Комплексная диагностика участка</p>
          <ul class="list-reset service-item__list">
            <li>
              + Полный пакет эскизных проектов (перечень зависит от&nbsp;ТЗ
              и&nbsp;Объекта)
            </li>
            <li>+ Организация достаточного объёма предпроектных изысканий</li>
            <li>
              + Схема оптимального размещения пятна застройки на&nbsp;участке
            </li>
            <li>+ Схема функциональных зон дома</li>
            <li>
              + Обсуждение лучших практик организации пространства
              и&nbsp;логистики
            </li>
            <li>+ Отбор лучших архитектурных решений</li>
            <li>+ Интеграция систем и элементов дома</li>
            <li>+ Точки оптимизации стоимости строительства</li>
            <li>+ Расчет укрупненного бюджетирования</li>
          </ul>

          <div class="service-item__bottom">
            <span class="service-item__capture"> Результат </span>
            <p class="service-item__comp">
              Идеальная композиция ликивидная и&nbsp;эргономичная, с&nbsp;учётом
              ландшафта, соседних построек, инсоляции, рельефа
            </p>
          </div>

          <div class="service-item__total">
            <p class="service-item__price">от 1 500 р. /м<sup>2</sup></p>
            <button class="btn-reset btn btn--dark service-item__btn">
              Заказать
            </button>
          </div>
        </div>
        <button class="btn-reset btn service-item__more">Подробнее</button>
      </div>

      <div
        class="service__item service-item"
        data-aos="number-slide-up"
        data-aos-delay="300"
      >
        <div class="service-item__header">
          <div class="service-item__fig">03</div>
          <p class="service-item__title">Полный рабочий проект</p>
        </div>
        <div class="service-item__body">
          <p class="service-item__subtitle">Архитектурный эскизный проект</p>
          <ul class="list-reset service-item__list">
            <li>
              + Полный пакет Архитектурных рабочих проектов (перечень,
              в&nbsp;зависит от&nbsp;ТЗ и&nbsp;Объекта)
            </li>
            <li>+ Концепция и&nbsp;рабочий проект Дизайна</li>
            <li>+ Рабочие проекты инженерных сетей и&nbsp;систем</li>
            <li>+ Отбор оптимальных инженерных решений</li>
            <li>+ Интеграция всех систем дома в единую 3D модель (BIM)</li>
            <li>+ Точное бюджетирование строительства</li>
            <li>+ Сводный график строительства</li>
          </ul>

          <div class="service-item__bottom">
            <span class="service-item__capture"> Результат </span>
            <p class="service-item__comp">
              Проект&nbsp;&mdash; бери и&nbsp;строй идеальный дом
              с&nbsp;просчитанным бюджетом и&nbsp;выверенными решениями
            </p>
          </div>

          <div class="service-item__total">
            <p class="service-item__price">10 000 р. /м<sup>2</sup></p>
            <button class="btn-reset btn btn--dark service-item__btn">
              Заказать
            </button>
          </div>
        </div>
        <button class="btn-reset btn service-item__more">Подробнее</button>
      </div>

      <div
        class="service__item service-item"
        data-aos="number-slide-up"
        data-aos-delay="400"
      >
        <div class="service-item__header">
          <div class="service-item__fig">04</div>
          <p class="service-item__title">Дом под ключ</p>
        </div>
        <div class="service-item__body">
          <p class="service-item__subtitle">Полный рабочий проект</p>
          <ul class="list-reset service-item__list">
            <li>+ Актуальный график строительства с учётом финансирования</li>
            <li>+ Строительство «под ключ» или отдельные этапы</li>
            <li>+ Фиксированная цена строительства</li>
            <li>+ Управление бюджетом</li>
            <li>+ Отчёты: ежедневные в личном кабинете, фото-видео фиксация</li>
            <li>+ Контроль качества: технический и авторский надзор</li>
            <li>
              + Комплектация материалами, оборудованием, мебелью, декорирование
            </li>
            <li>+ Ввод в эскплуатацию</li>
            <li>+ Гарантийное обслуживание</li>
          </ul>

          <div class="service-item__bottom">
            <span class="service-item__capture"> Результат </span>
            <p class="service-item__comp">
              Дом, где реализовано всё, что было важно
            </p>
          </div>

          <div class="service-item__total">
            <p class="service-item__price">10 000 р. /м<sup>2</sup></p>
            <button class="btn-reset btn btn--dark service-item__btn">
              Заказать
            </button>
          </div>
        </div>
        <button class="btn-reset btn service-item__more">Подробнее</button>
      </div>
    </div>

    <div class="swiper service__slider">
      <ul class="service__bottom swiper-wrapper service-list list-reset">
        <li class="swiper-slide" data-aos="fade-right" data-aos-delay="100">
          +12,2%&nbsp;&mdash; средняя доп. выгода.<br />
          Выявляем скрытые минусы участка и&nbsp;превращаем
          их&nbsp;в&nbsp;аргументы для торга
        </li>
        <li class="swiper-slide" data-aos="fade-right" data-aos-delay="200">
          Начинаем с&nbsp;ваших желаний или бюджета&nbsp;&mdash; и&nbsp;находим
          точное решение. Без компромиссов в&nbsp;качестве, без неоправданных
          трат
        </li>
        <li class="swiper-slide" data-aos="fade-right" data-aos-delay="300">
          Защита от&nbsp;теневые схем &laquo;раздувания&raquo; расходов
          в&nbsp;строительстве и&nbsp;проектировании
        </li>
        <li class="swiper-slide" data-aos="fade-right" data-aos-delay="400">
          Строители, для которых точность&nbsp;&mdash; не&nbsp;задача,
          а&nbsp;философия. Они работают как ювелиры: кропотливо, дотошно, строя
          дом, который идеален в&nbsp;деталях и&nbsp;совершенен в&nbsp;целом
        </li>
        <li class="swiper-slide" data-aos="fade-right" data-aos-delay="500">
          Нет расторжений договоров, исков и&nbsp;претензий со&nbsp;дня
          основания
        </li>
      </ul>
    </div>
    <div class="build__bottom">
      <div class="build__hint">Двигайте галерею, чтобы увидеть больше</div>
    </div>
  </div>
</section>
