<section class="share">
  <div class="container">
    <div class="share__wrapper">
      <h2 class="title4 title4--dark share__title">
        Открыто делимся своим опытом и экспертизой
      </h2>
      <div class="share__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <article class="share__item card">
              <a href="#" class="card__link"></a>
              <div class="card__img">
                <img src="./img/case.webp" alt="" />
              </div>
              <div class="card__content">
                <time datetime="01.01.2025" class="card__time">01.01.2025</time>
                <p class="desc3 card__name">Максим Александров</p>
                <p class="card__desc desc3">
                  Искусство создания единой архитектурной концепции в
                  многофункциональных объектах
                </p>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="share__item card">
              <a href="#" class="card__link"></a>
              <div class="card__img">
                <img src="./img/case.webp" alt="" />
              </div>
              <div class="card__content">
                <time datetime="01.01.2025" class="card__time">01.01.2025</time>
                <p class="desc3 card__name">Максим Александров</p>
                <p class="card__desc desc3">
                  Искусство создания единой архитектурной концепции в
                  многофункциональных объектах
                </p>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="share__item card">
              <a href="#" class="card__link"></a>
              <div class="card__img">
                <img src="./img/case.webp" alt="" />
              </div>
              <div class="card__content">
                <time datetime="01.01.2025" class="card__time">01.01.2025</time>
                <p class="desc3 card__name">Максим Александров</p>
                <p class="card__desc desc3">
                  Искусство создания единой архитектурной концепции в
                  многофункциональных объектах
                </p>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="share__item card">
              <a href="#" class="card__link"></a>
              <div class="card__img">
                <img src="./img/case.webp" alt="" />
              </div>
              <div class="card__content">
                <time datetime="01.01.2025" class="card__time">01.01.2025</time>
                <p class="desc3 card__name">Максим Александров</p>
                <p class="card__desc desc3">
                  Искусство создания единой архитектурной концепции в
                  многофункциональных объектах
                </p>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="share__item card">
              <a href="#" class="card__link"></a>
              <div class="card__img">
                <img src="./img/case.webp" alt="" />
              </div>
              <div class="card__content">
                <time datetime="01.01.2025" class="card__time">01.01.2025</time>
                <p class="desc3 card__name">Максим Александров</p>
                <p class="card__desc desc3">
                  Искусство создания единой архитектурной концепции в
                  многофункциональных объектах
                </p>
              </div>
            </article>
          </div>
        </div>
        <div class="listalka__pagination share-pag others__pagination">
          <div class="bar"></div>
        </div>
      </div>
      <button class="btn-reset share__arr share__arr--prev">
        <svg
          width="50"
          height="50"
          viewBox="0 0 50 50"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M36.6895 49.5977C37.1094 49.5977 37.5391 49.4316 37.8614 49.1094C38.5059 48.4648 38.5059 47.4102 37.8614 46.7656L15.8008 24.7051L37.5391 2.9668C38.1837 2.32227 38.1837 1.26758 37.5391 0.62305C36.8946 -0.0214817 35.8399 -0.0214816 35.1954 0.62305L12.2755 23.5332C11.6309 24.1777 11.6309 25.2324 12.2755 25.877L35.5079 49.1094C35.8399 49.4414 36.2598 49.5977 36.6895 49.5977Z"
          />
        </svg>
      </button>
      <button class="btn-reset share__arr share__arr--next">
        <svg
          width="50"
          height="50"
          viewBox="0 0 50 50"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M36.6895 49.5977C37.1094 49.5977 37.5391 49.4316 37.8614 49.1094C38.5059 48.4648 38.5059 47.4102 37.8614 46.7656L15.8008 24.7051L37.5391 2.9668C38.1837 2.32227 38.1837 1.26758 37.5391 0.62305C36.8946 -0.0214817 35.8399 -0.0214816 35.1954 0.62305L12.2755 23.5332C11.6309 24.1777 11.6309 25.2324 12.2755 25.877L35.5079 49.1094C35.8399 49.4414 36.2598 49.5977 36.6895 49.5977Z"
          />
        </svg>
      </button>
    </div>
  </div>
</section>

<section class="share share--long">
  <div class="container">
    <div class="share__wrapper">
      <h2 class="title4 title4--dark share__title">
        Открыто делимся своим опытом и экспертизой
      </h2>
      <div class="share__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <article class="share__item card">
              <a href="#" class="card__link"></a>
              <div class="card__img">
                <img src="./img/case.webp" alt="" />
              </div>
              <div class="card__content">
                <time datetime="01.01.2025" class="card__time">01.01.2025</time>
                <p class="desc3 card__name">Максим Александров</p>
                <p class="card__desc desc3">
                  Искусство создания единой архитектурной концепции в
                  многофункциональных объектах
                </p>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="share__item card">
              <a href="#" class="card__link"></a>
              <div class="card__img">
                <img src="./img/case.webp" alt="" />
              </div>
              <div class="card__content">
                <time datetime="01.01.2025" class="card__time">01.01.2025</time>
                <p class="desc3 card__name">Максим Александров</p>
                <p class="card__desc desc3">
                  Искусство создания единой архитектурной концепции в
                  многофункциональных объектах
                </p>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="share__item card">
              <a href="#" class="card__link"></a>
              <div class="card__img">
                <img src="./img/case.webp" alt="" />
              </div>
              <div class="card__content">
                <time datetime="01.01.2025" class="card__time">01.01.2025</time>
                <p class="desc3 card__name">Максим Александров</p>
                <p class="card__desc desc3">
                  Искусство создания единой архитектурной концепции в
                  многофункциональных объектах
                </p>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="share__item card">
              <a href="#" class="card__link"></a>
              <div class="card__img">
                <img src="./img/case.webp" alt="" />
              </div>
              <div class="card__content">
                <time datetime="01.01.2025" class="card__time">01.01.2025</time>
                <p class="desc3 card__name">Максим Александров</p>
                <p class="card__desc desc3">
                  Искусство создания единой архитектурной концепции в
                  многофункциональных объектах
                </p>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="share__item card">
              <a href="#" class="card__link"></a>
              <div class="card__img">
                <img src="./img/case.webp" alt="" />
              </div>
              <div class="card__content">
                <time datetime="01.01.2025" class="card__time">01.01.2025</time>
                <p class="desc3 card__name">Максим Александров</p>
                <p class="card__desc desc3">
                  Искусство создания единой архитектурной концепции в
                  многофункциональных объектах
                </p>
              </div>
            </article>
          </div>
        </div>
        <div class="listalka__pagination share-pag others__pagination">
          <div class="bar"></div>
        </div>
      </div>
    </div>
  </div>
</section>
