<section class="solution" id="app">
  <div class="container">
    <div class="sup-label solution__sup-label">Нестандартные решения</div>
    <div class="solution__header" data-aos="fade-up">
      <h2 class="title2 solution__title">
        Смелые решения в <span>архитектуре</span> и&nbsp;интерьере без риска на
        стройке
      </h2>
      <p class="solution__desc">
        Проектируем в&nbsp;одном экземпляре под ваш замысел&nbsp;&mdash; никаких
        типовых и&nbsp;шаблонных решений. Благодаря IPO добиваемся ювелирной
        точности в&nbsp;чертежах и&nbsp;расчётах, исключая переделки, срывы
        сроков и&nbsp;непредвиденные переплаты
      </p>
    </div>
  </div>
  <div class="solution__slider swiper">
    <div class="solution__items swiper-wrapper">
      <div class="solution__item swiper-slide sol-item" data-aos="fade-up" data-aos-delay="100">
        <div class="sol-item__fig">01</div>
        <div class="sol-item__img">
          <picture>
            <source srcset="./img/solution/01.webp" type="image/webp" />
            <img loading="lazy" src="./img/solution/01.jpg" class="image" width="" height="" alt="" />
          </picture>
        </div>
        <p class="sol-item__capture desc2">
          Здание в&nbsp;виде космической тарелки.<br />Проектировали
        </p>
      </div>

      <div class="solution__item swiper-slide sol-item" data-aos="fade-up" data-aos-delay="200">
        <div class="sol-item__fig">02</div>
        <div class="sol-item__img">
          <picture>
            <source srcset="./img/solution/02.webp" type="image/webp" />
            <img loading="lazy" src="./img/solution/02.jpg" class="image" width="" height="" alt="" />
          </picture>
        </div>
        <p class="sol-item__capture desc2">
          Дом 1500 м2&nbsp;по&nbsp;древнеиндийской системе Васту.<br />
          Проектировали и&nbsp;строили
        </p>
      </div>

      <div class="solution__item swiper-slide sol-item" data-aos="fade-up" data-aos-delay="300">
        <div class="sol-item__fig">03</div>
        <div class="sol-item__img">
          <picture>
            <source srcset="./img/solution/03.webp" type="image/webp" />
            <img loading="lazy" src="./img/solution/03.jpg" class="image" width="" height="" alt="" />
          </picture>
        </div>
        <p class="sol-item__capture desc2">
          Крыша оригами из&nbsp;LVL бруса с&nbsp;нестандартными пролётами.<br />
          Проектировали и&nbsp;строили
        </p>
      </div>

      <div class="solution__item swiper-slide sol-item" data-aos="fade-up" data-aos-delay="400">
        <div class="sol-item__fig">04</div>
        <div class="sol-item__img">
          <picture>
            <source srcset="./img/solution/04.webp" type="image/webp" />
            <img loading="lazy" src="./img/solution/04.jpg" class="image" width="" height="" alt="" />
          </picture>
        </div>
        <p class="sol-item__capture desc2">
          Параметрические элементы на&nbsp;фасаде в&nbsp;виде
          &laquo;парусов&raquo; из&nbsp;натурального камня.<br />
          Проектировали и&nbsp;строили
        </p>
      </div>

      <div class="solution__item swiper-slide sol-item" data-aos="fade-up" data-aos-delay="500">
        <div class="sol-item__fig">05</div>
        <div class="sol-item__img">
          <picture>
            <source srcset="./img/solution/05.webp" type="image/webp" />
            <img loading="lazy" src="./img/solution/05.jpg" class="image" width="" height="" alt="" />
          </picture>
        </div>
        <p class="sol-item__capture desc2">
          Парящая лесница нестандартной ширины 1,6&nbsp;м. (вместо
          1&nbsp;м.).<br />
          Проектировали и&nbsp;строили
        </p>
      </div>

      <div class="solution__item swiper-slide sol-item" data-aos="fade-up" data-aos-delay="600">
        <div class="sol-item__fig">06</div>
        <div class="sol-item__img">
          <picture>
            <source srcset="./img/solution/06.webp" type="image/webp" />
            <img loading="lazy" src="./img/solution/06.jpg" class="image" width="" height="" alt="" />
          </picture>
        </div>
        <p class="sol-item__capture desc2">
          Снежная комната: с&nbsp;потолка идёт снег для СПА.<br />
          Проектировали и&nbsp;строили
        </p>
      </div>

      <div class="solution__item swiper-slide sol-item" data-aos="fade-up" data-aos-delay="700">
        <div class="sol-item__fig">07</div>
        <div class="sol-item__img">
          <picture>
            <source srcset="./img/solution/07.webp" type="image/webp" />
            <img loading="lazy" src="./img/solution/07.jpg" class="image" width="" height="" alt="" />
          </picture>
        </div>
        <p class="sol-item__capture desc2">
          Мерцающее звёздное небо из&nbsp;4&nbsp;000 прозрачных нитей.<br />
          Собирали 5&nbsp;месяцев
        </p>
      </div>
    </div>
  </div>
</section>