<section class="team" id="team">
  <div class="container">
    <div class="sup-label team-sup__label">Наша команда</div>
    <h2 class="title2 team__title title2--white" data-aos="fade-up">
      В&nbsp;одной <span>команде</span> архитекторы, инженеры, дизайнеры,
      строители
    </h2>
  </div>
  <div class="container team__container">
    <div class="team__img" data-aos="fade-right" data-aos-duration="700">
      <picture>
        <source srcset="./img/team/01.webp" type="image/webp" />
        <img loading="lazy" src="./img/team/01." class="image" width="225" height="300" alt="" />
      </picture>

      <div class="team__capture-name">
        Оксана и&nbsp;Всеволод
        <span> Волковы</span>
      </div>
      <div class="team__dist desc3">
        Основатели и&nbsp;главные архитекторы BOROSA
      </div>
    </div>
    <p class="team__capture team__capture--mob title4">
      Все работают на&nbsp;единый результат, создавая совершенный дом
    </p>
    <div class="team__content" data-aos="fade-left" data-aos-duration="700">
      <p class="team__capture title4">
        Все работают на&nbsp;единый результат, создавая совершенный дом
      </p>

      <ul class="list-reset team__list">
        <li class="team__item">
          11&nbsp;лет создаём современные дома и&nbsp;нестандартные решения.<br />
          Никаких догадок&nbsp;&mdash; только точные расчёты, проверенные
          практикой
        </li>
        <li class="team__item">
          Точность и&nbsp;детальность проектной документации. Минимальные
          допуски или их&nbsp;отсутствие в&nbsp;строительных работах
          (а&nbsp;не&nbsp;по&nbsp;СП и&nbsp;ГОСТ)
        </li>
        <li class="team__item">
          Сотрудники работают как ювелиры: с&nbsp;кропотливостью
          и&nbsp;мастерством, вникая в&nbsp;каждую деталь
        </li>
        <li class="team__item">
          Опыт в&nbsp;топовых посёлках Подмосковья: Agalarov Estate, Миллениум
          Парк, Фортуна, Барвиха, Береста, Раздоры, Жуковка, Архангельское,
          Ново-Николино и&nbsp;др.
        </li>
        <li class="team__item">
          9&nbsp;из&nbsp;10&nbsp;клиентов приходят к&nbsp;нам
          по&nbsp;рекомендации
        </li>
      </ul>
    </div>
  </div>

  <div class="team__team" data-aos="fade-up" data-aos-duration="700">
    <div class="container">
      <div class="team__tabs">
        <button class="btn-reset team__tab active" data-tab="arch">
          Архитекторы
        </button>
        <button class="btn-reset team__tab" data-tab="design">Дизайнеры</button>
        <button class="btn-reset team__tab" data-tab="engine">Инженеры</button>
        <button class="btn-reset team__tab" data-tab="stroy">Строители</button>
      </div>
    </div>

    <div class="team__slider swiper active" data-team-tab="arch">
      <div class="swiper-wrapper">
        <div class="swiper-slide team__person person">
          <div class="person__img">
            <picture>
              <source srcset="./img/team/arch/01.webp" type="image/webp" />
              <img loading="lazy" src="./img/team/arch/01.jpg" class="image" width="225" height="300" alt="" />
            </picture>
          </div>
          <div class="person__info">
            <p class="person__name">Максим Александров</p>
            <p class="desc3 person__prof">Главный Архитектор Проекта (ГАП)</p>
          </div>
        </div>
        <div class="swiper-slide team__person person">
          <div class="person__img">
            <picture>
              <source srcset="./img/team/arch/02.webp" type="image/webp" />
              <img loading="lazy" src="./img/team/arch/02.jpg" class="image" width="225" height="300" alt="" />
            </picture>
          </div>
          <div class="person__info">
            <p class="person__name">Мария Юрчинская</p>
            <p class="desc3 person__prof">Ведущий архитектор</p>
          </div>
        </div>
        <div class="swiper-slide team__person person">
          <div class="person__img">
            <picture>
              <source srcset="./img/team/arch/03.webp" type="image/webp" />
              <img loading="lazy" src="./img/team/arch/03.jpg" class="image" width="225" height="300" alt="" />
            </picture>
          </div>
          <div class="person__info">
            <p class="person__name">Мария Ермолаева</p>
            <p class="desc3 person__prof">Архитектор</p>
          </div>
        </div>
        <div class="swiper-slide team__person person">
          <div class="person__img">
            <picture>
              <source srcset="./img/team/arch/04.webp" type="image/webp" />
              <img loading="lazy" src="./img/team/arch/04.jpg" class="image" width="225" height="300" alt="" />
            </picture>
          </div>
          <div class="person__info">
            <p class="person__name">Ксения Захарова</p>
            <p class="desc3 person__prof">Ландшафтный архитектор</p>
          </div>
        </div>
        <div class="swiper-slide team__person person">
          <div class="person__img">
            <picture>
              <source srcset="./img/team/arch/05.webp" type="image/webp" />
              <img loading="lazy" src="./img/team/arch/05.jpg" class="image" width="225" height="300" alt="" />
            </picture>
          </div>
          <div class="person__info">
            <p class="person__name">Наталья Филиппова</p>
            <p class="desc3 person__prof">Архитектор</p>
          </div>
        </div>
        <div class="swiper-slide team__person person">
          <div class="person__img">
            <picture>
              <source srcset="./img/team/arch/06.webp" type="image/webp" />
              <img loading="lazy" src="./img/team/arch/06.jpg" class="image" width="225" height="300" alt="" />
            </picture>
          </div>
          <div class="person__info">
            <p class="person__name">Дэниса Хиданович</p>
            <p class="desc3 person__prof">Архитектор</p>
          </div>
        </div>
        <div class="swiper-slide team__person person">
          <div class="person__img">
            <picture>
              <source srcset="./img/team/arch/07.webp" type="image/webp" />
              <img loading="lazy" src="./img/team/arch/07.jpg" class="image" width="225" height="300" alt="" />
            </picture>
          </div>
          <div class="person__info">
            <p class="person__name">Арина Бельская</p>
            <p class="desc3 person__prof">Архитектор</p>
          </div>
        </div>
        <div class="swiper-slide team__person person">
          <div class="person__img">
            <picture>
              <source srcset="./img/team/arch/08.webp" type="image/webp" />
              <img loading="lazy" src="./img/team/arch/08.jpg" class="image" width="225" height="300" alt="" />
            </picture>
          </div>
          <div class="person__info">
            <p class="person__name">Ованес Тазаян</p>
            <p class="desc3 person__prof">Ведущий архитектор</p>
          </div>
        </div>
        <div class="swiper-slide team__person person">
          <div class="person__img">
            <picture>
              <source srcset="./img/team/arch/09.webp" type="image/webp" />
              <img loading="lazy" src="./img/team/arch/09.jpg" class="image" width="225" height="300" alt="" />
            </picture>
          </div>
          <div class="person__info">
            <p class="person__name">Екатерина Лысенко</p>
            <p class="desc3 person__prof">Аналитик земельных участков</p>
          </div>
        </div>
        <div class="swiper-slide team__person person">
          <div class="person__img">
            <picture>
              <source srcset="./img/team/arch/10.webp" type="image/webp" />
              <img loading="lazy" src="./img/team/arch/10.jpg" class="image" width="225" height="300" alt="" />
            </picture>
          </div>
          <div class="person__info">
            <p class="person__name">Мария Зачиняева</p>
            <p class="desc3 person__prof">Аналитик земельных участков</p>
          </div>
        </div>
      </div>

      <div class="team__control">
        <button class="team-prev btn-reset team__arr team__arr--prev">
          <svg width="38" height="70" viewBox="0 0 38 70" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M35.3652 69.4395C35.9531 69.4395 36.5547 69.207 37.0059 68.7559C37.9082 67.8535 37.9082 66.377 37.0059 65.4746L6.12109 34.5898L36.5547 4.15625C37.457 3.2539 37.457 1.77734 36.5547 0.874998C35.6523 -0.0273453 34.1758 -0.0273452 33.2734 0.874999L1.18555 32.9492C0.283202 33.8516 0.283202 35.3281 1.18555 36.2305L33.7109 68.7559C34.1758 69.2207 34.7636 69.4395 35.3652 69.4395Z"
              fill="white" />
          </svg>
        </button>
        <button class="team-next btn-reset team__arr team__arr--next">
          <svg width="38" height="70" viewBox="0 0 38 70" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M35.3652 69.4395C35.9531 69.4395 36.5547 69.207 37.0059 68.7559C37.9082 67.8535 37.9082 66.377 37.0059 65.4746L6.12109 34.5898L36.5547 4.15625C37.457 3.2539 37.457 1.77734 36.5547 0.874998C35.6523 -0.0273453 34.1758 -0.0273452 33.2734 0.874999L1.18555 32.9492C0.283202 33.8516 0.283202 35.3281 1.18555 36.2305L33.7109 68.7559C34.1758 69.2207 34.7636 69.4395 35.3652 69.4395Z"
              fill="white" />
          </svg>
        </button>
      </div>
    </div>

    <div class="team__slider swiper" data-team-tab="design">
      <div class="swiper-wrapper">
        <div class="swiper-slide team__person person">
          <div class="person__img">
            <picture>
              <source srcset="./img/team/design/01.webp" type="image/webp" />
              <img loading="lazy" src="./img/team/design/01.jpg" class="image" width="225" height="300" alt="" />
            </picture>
          </div>
          <div class="person__info">
            <p class="person__name">Екатерина Кивенко</p>
            <p class="desc3 person__prof">Ведущий дизайнер</p>
          </div>
        </div>
        <div class="swiper-slide team__person person">
          <div class="person__img">
            <picture>
              <source srcset="./img/team/design/02.webp" type="image/webp" />
              <img loading="lazy" src="./img/team/design/02.jpg" class="image" width="225" height="300" alt="" />
            </picture>
          </div>
          <div class="person__info">
            <p class="person__name">Андрей Лебедев</p>
            <p class="desc3 person__prof">Ведущий дизайнер</p>
          </div>
        </div>
        <div class="swiper-slide team__person person">
          <div class="person__img">
            <picture>
              <source srcset="./img/team/design/03.webp" type="image/webp" />
              <img loading="lazy" src="./img/team/design/03.jpg" class="image" width="225" height="300" alt="" />
            </picture>
          </div>
          <div class="person__info">
            <p class="person__name">Дарья Горячева</p>
            <p class="desc3 person__prof">Ведущий дизайнер</p>
          </div>
        </div>
        <div class="swiper-slide team__person person">
          <div class="person__img">
            <picture>
              <source srcset="./img/team/design/04.webp" type="image/webp" />
              <img loading="lazy" src="./img/team/design/04.jpg" class="image" width="225" height="300" alt="" />
            </picture>
          </div>
          <div class="person__info">
            <p class="person__name">Владислав Шплецер</p>
            <p class="desc3 person__prof">Дизайнер-инженер</p>
          </div>
        </div>

        <div class="swiper-slide team__person person">
          <div class="person__img">
            <picture>
              <source srcset="./img/team/design/05.webp" type="image/webp" />
              <img loading="lazy" src="./img/team/design/05.jpg" class="image" width="225" height="300" alt="" />
            </picture>
          </div>
          <div class="person__info">
            <p class="person__name">Элина Вернер</p>
            <p class="desc3 person__prof">Дизайнер-инженер</p>
          </div>
        </div>
        <div class="swiper-slide team__person person">
          <div class="person__img">
            <picture>
              <source srcset="./img/team/design/06.webp" type="image/webp" />
              <img loading="lazy" src="./img/team/design/06.jpg" class="image" width="225" height="300" alt="" />
            </picture>
          </div>
          <div class="person__info">
            <p class="person__name">Дарья Иванова</p>
            <p class="desc3 person__prof">Дизайнер</p>
          </div>
        </div>
        <div class="swiper-slide team__person person">
          <div class="person__img">
            <picture>
              <source srcset="./img/team/design/07.webp" type="image/webp" />
              <img loading="lazy" src="./img/team/design/07.jpg" class="image" width="225" height="300" alt="" />
            </picture>
          </div>
          <div class="person__info">
            <p class="person__name">Екатерина Медведева</p>
            <p class="desc3 person__prof">Ведущий дизайнер</p>
          </div>
        </div>
        <div class="swiper-slide team__person person">
          <div class="person__img">
            <picture>
              <source srcset="./img/team/design/08.webp" type="image/webp" />
              <img loading="lazy" src="./img/team/design/08.jpg" class="image" width="225" height="300" alt="" />
            </picture>
          </div>
          <div class="person__info">
            <p class="person__name">Анастасия Кондратьева</p>
            <p class="desc3 person__prof">Дизайнер</p>
          </div>
        </div>
        <div class="swiper-slide team__person person">
          <div class="person__img">
            <picture>
              <source srcset="./img/team/design/09.webp" type="image/webp" />
              <img loading="lazy" src="./img/team/design/09.jpg" class="image" width="225" height="300" alt="" />
            </picture>
          </div>
          <div class="person__info">
            <p class="person__name">Андрей Уполовнев</p>
            <p class="desc3 person__prof">Дизайнер-инженер</p>
          </div>
        </div>
      </div>
    </div>

    <div class="team__slider swiper" data-team-tab="engine">
      <div class="swiper-wrapper">
        <div class="swiper-slide team__person person">
          <div class="person__img">
            <picture>
              <source srcset="./img/team/engin/01.webp" type="image/webp" />
              <img loading="lazy" src="./img/team/engin/01.jpg" class="image" width="225" height="300" alt="" />
            </picture>
          </div>
          <div class="person__info">
            <p class="person__name">Денис Алексеев</p>
            <p class="desc3 person__prof">Главный Инженер Проекта (ГИП)</p>
          </div>
        </div>
        <div class="swiper-slide team__person person">
          <div class="person__img">
            <picture>
              <source srcset="./img/team/engin/02.webp" type="image/webp" />
              <img loading="lazy" src="./img/team/engin/02.jpg" class="image" width="225" height="300" alt="" />
            </picture>
          </div>
          <div class="person__info">
            <p class="person__name">Кирилл Прокопьев</p>
            <p class="desc3 person__prof">Главный инженер-конструктор (ГИК)</p>
          </div>
        </div>
        <div class="swiper-slide team__person person">
          <div class="person__img">
            <picture>
              <source srcset="./img/team/engin/03.webp" type="image/webp" />
              <img loading="lazy" src="./img/team/engin/03.jpg" class="image" width="225" height="300" alt="" />
            </picture>
          </div>
          <div class="person__info">
            <p class="person__name">Юрий Клемешев</p>
            <p class="desc3 person__prof">Руководитель проектов</p>
          </div>
        </div>
        <div class="swiper-slide team__person person">
          <div class="person__img">
            <picture>
              <source srcset="./img/team/engin/04.webp" type="image/webp" />
              <img loading="lazy" src="./img/team/engin/04.jpg" class="image" width="225" height="300" alt="" />
            </picture>
          </div>
          <div class="person__info">
            <p class="person__name">Артём Етумян</p>
            <p class="desc3 person__prof">Инженер баз данных</p>
          </div>
        </div>
      </div>
    </div>

    <div class="team__slider swiper" data-team-tab="stroy">
      <div class="swiper-wrapper">
        <div class="swiper-slide team__person person">
          <div class="person__img">
            <picture>
              <source srcset="./img/team/stroy/01.webp" type="image/webp" />
              <img loading="lazy" src="./img/team/stroy/01.jpg" class="image" width="225" height="300" alt="" />
            </picture>
          </div>
          <div class="person__info">
            <p class="person__name">Денис Алексеев</p>
            <p class="desc3 person__prof">Главный Инженер Проекта (ГИП)</p>
          </div>
        </div>
        <div class="swiper-slide team__person person">
          <div class="person__img">
            <picture>
              <source srcset="./img/team/stroy/02.webp" type="image/webp" />
              <img loading="lazy" src="./img/team/stroy/02.jpg" class="image" width="225" height="300" alt="" />
            </picture>
          </div>
          <div class="person__info">
            <p class="person__name">Константин Ланин</p>
            <p class="desc3 person__prof">Руководитель тех. надзора, ГИП</p>
          </div>
        </div>
        <div class="swiper-slide team__person person">
          <div class="person__img">
            <picture>
              <source srcset="./img/team/stroy/03.webp" type="image/webp" />
              <img loading="lazy" src="./img/team/stroy/03.jpg" class="image" width="225" height="300" alt="" />
            </picture>
          </div>
          <div class="person__info">
            <p class="person__name">Дмитрий Кожаринов</p>
            <p class="desc3 person__prof">Руководитель проектов</p>
          </div>
        </div>
        <div class="swiper-slide team__person person">
          <div class="person__img">
            <picture>
              <source srcset="./img/team/stroy/04.webp" type="image/webp" />
              <img loading="lazy" src="./img/team/stroy/04.jpg" class="image" width="225" height="300" alt="" />
            </picture>
          </div>
          <div class="person__info">
            <p class="person__name">Вероника Чепурнова</p>
            <p class="desc3 person__prof">Руководитель отдела поставок</p>
          </div>
        </div>
        <div class="swiper-slide team__person person">
          <div class="person__img">
            <picture>
              <source srcset="./img/team/stroy/05.webp" type="image/webp" />
              <img loading="lazy" src="./img/team/stroy/05.jpg" class="image" width="225" height="300" alt="" />
            </picture>
          </div>
          <div class="person__info">
            <p class="person__name">Василиса Арести</p>
            <p class="desc3 person__prof">Комплектатор</p>
          </div>
        </div>
        <div class="swiper-slide team__person person">
          <div class="person__img">
            <picture>
              <source srcset="./img/team/stroy/06.webp" type="image/webp" />
              <img loading="lazy" src="./img/team/stroy/06.jpg" class="image" width="225" height="300" alt="" />
            </picture>
          </div>
          <div class="person__info">
            <p class="person__name">Рустем Шарафутдинов</p>
            <p class="desc3 person__prof">Руководитель строительных участков</p>
          </div>
        </div>
      </div>
    </div>

    <div class="build__bottom">
      <div class="build__hint build__hint--white">
        Двигайте галерею, чтобы увидеть всю команду
      </div>
    </div>
  </div>
</section>