@import "vars";
@import "mixins";
@import "fonts";
@import "settings";
@import "./components/ui";

@import "./components/nav";
@import "./components/header";
@import "./components/hero";
@import "./components/marquee";
@import "./components/problem";
@import "./components/faq";
@import "./components/avoid";
@import "./components/custom-aos";
@import "./components/proj";
@import "./components/before-after";
@import "./components/optima";
@import "./components/possible";
@import "./components/browser";
@import "./components/solution";
@import "./components/build";
@import "./components/get-consult";
@import "./components/princeps";
@import "./components/portfolio";
@import "./components/methods";
@import "./components/team";
@import "./components/service";
@import "./components/benefit";
@import "./components/find";
@import "./components/footer";
@import "./components/modal";
@import "./components/form";
@import "./components/menu";
@import "./components/proj-modal";
@import "./components/cta";
@import "./components/thankyou";
@import "./components/single-hero";
@import "./components/quote";
@import "./components/gallery";
@import "./components/photo-text";
@import "./components/text-vertical";
@import "./components/listalka";
@import "./components/small-head";
@import "./components/gal";
@import "./components/descript";
@import "./components/others";
@import "./components/single-video";
@import "./components/gal-info";
@import "./components/article";
@import "./components/card";
@import "./components/article-other";
@import "./components/cases";
@import "./components/share";
@import "./components/ban";
@import "./components/people";
@import "./components/blog";
@import "./components/f-bens";
@import "./components/video";
@import "./components/projects";
@import "./components/add";
@import "./components/contacts";
@import "./components/map";

h1.title55,
h2.title55,
h3.title55,
h4.title55,
h5.title55,
h6.title55 {
  margin: 0;
  margin-bottom: 1.5rem;

  font-weight: 400;
  font-size: 2rem;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: #1d1b1a;

  padding-bottom: 1rem;
  border-bottom: 1px solid #d9d9d9;

  &--light {
    color: #fff;
  }
  &--noborder {
    border: none;
    padding-bottom: 0;
  }
  @include mobile {
    font-size: 1.8rem;
  }
}

.al-c {
  align-items: center;

  @include small-tablet {
    align-items: unset;
  }
}
